<% if false %>
<%= form_for @profile, :url=>{:action=>'create_post'}, :html=>{:name=>'sharepost',:id => "update_post", :enctype=>"multipart/form-data"} do |f| %>

  <div class="post search-comment">
    <textarea name="post" placeholder="What did you do today?" class="posttext" ></textarea> 
    
    <input type="hidden" name="posttextnew" id="posttext">
    <ul class="arport" style="display:none;">


    </ul>
  </div>
  <div class="post_options">
    <div class="share" title="Who do you want to share this with?">
      <h3>Share with:</h3>
      <%= f.select :share_with, options_for_select(["Public", "Private","Friends"]), :class => 'genForm_dropBox' %>		
      <div class="arrows" style="display:none;">
        <span><%= image_tag('icons/up.png') %></span>
        <span><%= image_tag('icons/down.png') %></span>						
      </div>
    </div>
    <div class="extra">
      <input name="photo" id="photo" type="file" accept="image/*"><span><%= image_tag('icons/picture.png') %></span>
      <input name="video" id="video" type="file" accept="video/*"><span><%= image_tag('icons/video.png') %></span>


    </div>
    <button id="share_post">Share</button>
  </div>
<% end %>
<%= form_for @profile, :url=>{:action=>'create_album'}, :html=>{:name=>'createalbum',:id => "create_album", :enctype=>"multipart/form-data"} do |f| %>
  <input style="display:none;" name="album" id="album" type="file" accept="image/* , video/mp4"><span id="create_album"></span>
  <button id="share_album" title="You can create album of videos and images">Create Album</button>
<% end %>
<% end %>




                        <div class="container">
          <%= form_for @profile, :url=>{:action=>'create_post'}, :html=>{:name=>'sharepost',:id => "update_post", :enctype=>"multipart/form-data"} do |f| %>

                            <textarea name="post" placeholder="Post comments and start discussions here" class="posttext"></textarea>
                               <input type="hidden" name="posttextnew" id="posttext">
    <ul class="arport" style="display:none;">


    </ul>
    <span class="lnk"></span>
                            <div class="actions ">
                                <div class="share_with">
                                    <label>Share With:</label>
                                   <%= f.select :share_with, options_for_select(["Public", "Private","Friends"]), :class => 'genForm_dropBox' %>		
                                </div>
                                 <div class="share_what">
									 <div class="image"><input type="file" id="photo" accept="image/*" name="image"></div>
                                    <div  class="video" ><input id="video" type="file" accept="video/*" name="video"></div>
                                  <button id="share_post" class="share">Share</button>
                                 </div>
                                </div>
                                <% end %>     
                             <%#= form_for @profile, :url=> createalbum_path, :html=>{:name=>'createalbum',:id => "create_albums", :class=>'createalbums', :enctype=>"multipart/form-data", :onclick=>"this.form.reset()" } do |f| %>
                               <!-- <div class="actions sharing-links">
                                
                                <div class="share_what">
                                    
                                    <div class="image"><input type="file" id="photo" accept="image/*" name="image"></div>
                                    <div id="share_album" class="video"><input id="video" type="file" accept="video/*" name="video"></div>
                                   
                                </div>
                            </div> -->
							<%# end %>        
          
                
     
                        </div>
 <script>
	 function isUrlValid(url) {
    return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
}

var link_share = function(lnk) {
		$.ajax({
          type: "POST",
          url: '/scrap_link/' , //sumbits it to the given url of the form
          dataType: "HTML",
          data: {lnk:lnk},
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
          success: function(data) {
            $('.lnk').html('')
            $('.lnk').append(data)
            $('.arport').after('<input type="hidden" name="post_type" value="link" class="post_type">')
            
          },
          error: function(xhr, ajaxOptions, thrownError) {
			console.log(xhr.responseText);  
            if (xhr.status == 500) {
			   new_link = lnk.replace('http://','https://');
			  link_share(new_link)
			 $('.lnk').html('')
		 }
          }

        });	
	
}	
  $('.postext').val('');
     $('#photo, #video').on('change', function(e) {
        e.preventDefault();
      $('#create_albums').submit();
      //return false;
   });
 
  $('#album').on('change', function(e) {
    if (!$('#album').val()) //check empty input filed
    {
      return false;
    }
    else {

      e.preventDefault();
      $('#create_album').submit();
      return false;
    }
  });
   $(".posttext").click(function(e) {
   if (isUrlValid($(this).val())) {
		link_share($(this).val())	
	}
   
   });
  $(".posttext").keyup(function(e) {
 
	if (isUrlValid($(this).val())) {
		link_share($(this).val())	
	}	
    if ($(this).val().indexOf("@") != -1) {
      var ind = $(this).val().indexOf("@");
      var keywords = $(this).val().substr(ind + 1);
      if (keywords != '') {
        $.ajax({
          type: "POST",
          url: '/search_user/' + keywords + '/type/ /' + 'post', //sumbits it to the given url of the form
          dataType: "HTML",
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
          success: function(data) {
            $('.arport').fadeIn()
            $('.arport').html(data)
          },
          error: function(xhr, ajaxOptions, thrownError) {
            console.log(xhr.status)

          }

        });
      }
    }else {
    $('.arport').fadeOut()
    }
  });
</script>                       
                  
