	 
                      <!-- Start: Text post -->
                       <% @posts.each do |post| %>  
                         <% last = post.account.last_name.present? ? post.account.last_name : ''; 	
						    name = post.account.first_name + ' ' + last
						    time = post.created_at %>
						  <% img =  useravatar(post.account) %>
						  
                        <div class="post <%= post.post_type!='text' ? post.post_type : '' %> <%= post.account.user_type ==3 ? 'gym' :'' %>" id="<%= post.id %>">
                            <div class="header">
                                <div class="user">
                                    <div class="avatar">
                                 <%= link_to(image_tag(img), "/#{post.account.user_name}" ,html_options={:title => "#{post.account.first_name}", :alt => '#{post.account.first_name}'}); %>   
                                      
                                    </div>
                                    <div class="data">
                                        <a href="<%= post.account.user_name %>"><h3 class="name"><%= name %></h3></a>
                                        <p class="date"> <%= time_ago_in_words(time) %> ago</p>
                                    </div>
                                </div>
                                   <% if @account.id == post.account_id %>
                                        <button class=" close post-delete " data-id="<%= Base64.encode64(post.id.to_s)%>"></button>
									<% end %>
                                
                            </div>
                            <div class="content">
                            <% if post.post_type =='fitbit' %>
                             
                                <div class="segment">
                                    <div class="box calories">
                                    <% fitbit = get_fitbit(post.account_id) %>
                                        <h1><%=  fitbit.present? ? fitbit.calories : "N/A"  %> </h1>
                                        <h2>Calories</h2>
                                    </div>
                                </div>
                                <div class="segment">
                                    <div class="box miles">
                                        <h1><%=  fitbit.present? ? fitbit.distance : "N/A"  %></h1>
                                        <h2>Miles</h2>
                                    </div>
                                </div>
                                <div class="segment">
                                    <div class="box steps">
                                        <h1><%=  fitbit.present? ? number_to_human( fitbit.steps, :format => '%n%u', :units => { :thousand => 'K' }) : "N/A"  %></h1>
                                        <h2>Steps</h2>
                                    </div>
                                </div>
                            <% elsif post.post_type =='link' %>    
							<%=  post.text.html_safe %>
                            <% else %>
                              <p> <% if post.text.present? %>
                                <% post.text.split.select {|w| %>
								
								   <% if  w[0] == "#" %>
								  <%=raw tag_links(w)%>
									 <% elsif w[0] == "@" %>    
											<%=raw user_links(w)%>                
								  <% else %>    
									<%= w.html_safe  %>    
								  <% end %>      
								  <%  } %>
								   <% end %>  
								   </p>
							<% end %>	 
							<!-- video section -->
							<% if post.video.present? %>		
							  <div class="video">

								<video id='video'  controls width="375" height="193">
								  <source src='<%= post.video %>' type='video/mp4'/>
								  Your browser does not support the video .
								</video>
							  </div>
							<% end %>  
							<!-- image section -->
							<% if post.image.present? %>		
							  <div class="background">
								<%= image_tag(post.image(:medium)) %>		
							  </div>
							<% end %>
							<% if post.post_type =='checkin' %> 
								<div class="visual">							
									<input type="hidden" class="geopost" mapPlaceholder="placeholder_<%= post.id %>" value="<%=	post.text.split('at')[-1] %>">
                                    <div class="map" id="placeholder_<%= post.id %>" style="height:100px;">                                      
                                    </div>
                                </div>
							<% end %>
							
								   
                            </div>
                            
						<div class="comment_section"  id="cmt<%= post.id %>">
                                <div class="comment_container">
									<% post.comment.each do |cm| %>
                                    <div class="comment" id="scont<%= cm.id  %>">
                                     <% abc =  get_user_detail(cm.account_id) %>
                                       <% if abc.present? %>
                                       <% img =  useravatar(abc) %>
                                        <div class="avatar">
                                             <%= link_to(image_tag(img) , abc.user_name) %>
                                        </div>
                                        <div class="header">
                                            <h5><%= abc.first_name.capitalize %> <%= abc.last_name.present? ? abc.last_name : '' %></h5>
                                            <p class="timestamp"><% cm.created_at.strftime("%B %e at %l:%M") %> <%= time_ago_in_words(cm.created_at)  %> ago</p>
                                        </div>
                                        <div class="text">
                                            <p class="the_comment">
										    <% cm.text.split.select {|w| %>
												<% if  w[0] == "#" %>
												<%=raw tag_links(w)%>
												<% elsif w[0] == "@" %>    
														<%=raw user_links(w)%>      
												<% else %>    
												<%= w %>    
												<% end %>      
										    <%  } %> </p>
										    <% if @account.id == cm.account_id  %> 						
											<button data-id="<%=  Base64.encode64(cm.id.to_s)   %>" class="close comment-delete"></button>			
											<% end %>
                                        </div>
                                         <% end %>
                                   
                                    </div>                            
                                    <% end %>
                                </div>
                               
                                <div class="add_comment">
                                    <textarea maxlength="255" placeholder="Start commenting here..." data-id="<%= post.id %>" ></textarea>
                                    <button class="post_comment" type="button" data-id="<%= post.id %>">Post Comment</button>
                                    <ul class="arport2" style="display:none;"> </ul>
									<input type="hidden" name="commentnew" id="commentnew">
                                </div>
                            </div>
                            
                            <div class="footer">
							
                                <div class="kudos" data-id="<%= Base64.encode64(post.id.to_s) %>">
                                    <div class="<%= check_kudos(post.id.to_s) %>"></div>
                                    <h3>Give Kudos</h3>
                                </div>
                         
                                <div class="comment show_comment">
                                    <div class="icon"></div>
                                    <h3>Comment <%= post.comment.present? ? "(#{post.comment.count})" : '' %></h3>
                                </div>
                                <!-- if( post belongs to user ){ -->
                                	<% if @account.id == post.account_id  %>     
                                <div class="edit" data-toggle="modal" data-target="#postEditForm" data-id="<%= post.id %>" >
                                    <div class="icon"></div>
                                    <h3>Edit</h3>
                                </div>
                                <% end %>
                                <!-- } //end if -->
                            </div>
                        </div>
                      <% end %>  
                        <!-- End: Text post -->
                    
                        

<% if false %>


                        <!-- Start: Challenge post -->
                        <div class="post challenge">
                            <div class="header">
                                <div class="user">
                                    <div class="avatar"><a href="profile.html#challenges"><div class="img"></div></a></div>
                                    <div class="data">
                                        <a href="profile.html#challenges"><h3 class="name">Step Challenge</h3></a>
                                        <p class="challenge">Most Steps in 48 Hours</p>
                                    </div>
                                </div>
                                <div class="rivals">
                                    <div class="user"><a href="profile.html"><img alt="MS" title="Maria Sharapova" src="../public/img/profile/mariasharapova_avatar.png"></a></div>
                                    <div><p>VS</p></div>
                                    <div class="opponent"><a href="profile.html"><img alt="VW" title="Venus Williams" src="../public/img/profile/venuswilliams_avatar.png"></a></div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="left">
                                    <div class="container">
                                        <div class="background">
                                            <img src="http://cdn.pursuitist.com/wp-content/uploads/2015/10/maria_sharapova.jpg">
                                            <div class="cover"></div>
                                        </div>
                                        <div class="data">
                                            <div class="score">
                                                <h1>30K</h1>
                                                <h3>Steps</h3>
                                            </div>
                                            <div class="user">
                                                <h2>Maria<br>Sharapova</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="right">
                                    <div class="container">
                                        <div class="background">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Venus_Williams_(9630793483).jpg">
                                            <div class="cover"></div>
                                        </div>
                                        <div class="data">
                                            <div class="score">
                                                <h1>28K</h1>
                                                <h3>Steps</h3>
                                            </div>
                                            <div class="user">
                                                <h2>Venus<br>Williams</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="vs"></div></div>
                            <div class="footer">
                                <div class="kudos">
                                    <div class="icon"></div>
                                    <h3>Give Kudos</h3>
                                </div>
                                <div class="comment">
                                    <div class="icon"></div>
                                    <h3>Comment</h3>
                                </div>
                            </div>
                        </div>
                        <!-- End: Challenge post -->



                  



                        <!-- Start: Fitspot post -->
                        <div class="post fitspot">
                            <div class="header">
                                <div class="user">
                                    <div class="avatar"><a href="profile.html"><img alt="MS" title="Maria Sharapova" src="../public/img/profile/mariasharapova_avatar.png"></a></div>
                                    <div class="data">
                                        <a href="profile.html"><h3 class="name">Maria Sharapova</h3></a>
                                        <p class="date">Yesterday at 7:00am</p>
                                    </div>
                                </div>
                                <button class="close"></button>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <p><a href="">#Swimming</a> <a href="">@Blue Springs State Park</a></p>
                                </div>
                                <div class="visual">
                                    <div class="image">
                                        <img src="../public/img/global/fitspot.png">
                                    </div><div class="map">
                                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="" src="https://www.google.com/maps/embed/v1/place?q=blue%20springs%20state%20park&amp;key=AIzaSyBOJh_YHCV_JJkthZNR99xZG9sB6jdo7bI" style="border:0"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="kudos">
                                    <div class="icon"></div>
                                    <h3>Give Kudos</h3>
                                </div>
                                <div class="comment">
                                    <div class="icon"></div>
                                    <h3>Comment</h3>
                                </div>
                                <!-- if( post belongs to user ){ -->
                                <div class="edit">
                                    <div class="icon"></div>
                                    <h3>Edit</h3>
                                </div>
                                <!-- } //end if -->
                            </div>
                        </div>
                        <!-- End: Fitspot post -->



                        <!-- Start: Video post -->
                        <div class="post video">
                            <div class="header">
                                <div class="user">
                                    <div class="avatar"><a href="profile.html"><img alt="MS" title="Maria Sharapova" src="../public/img/profile/mariasharapova_avatar.png"></a></div>
                                    <div class="data">
                                        <a href="profile.html"><h3 class="name">Maria Sharapova</h3></a>
                                        <p class="date">Yesterday at 7:00am</p>
                                    </div>
                                </div>
                                <button class="close"></button>
                            </div>
                            <div class="content">
                                <!-- <video></video> -->
                                <div class="video">
                                    <iframe width="375" height="193" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/uVjBfMp-qbY"></iframe>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="kudos">
                                    <div class="icon"></div>
                                    <h3>Give Kudos</h3>
                                </div>
                                <div class="comment">
                                    <div class="icon"></div>
                                    <h3>Comment</h3>
                                </div>
                                <!-- if( post belongs to user ){ -->
                                <div class="edit">
                                    <div class="icon"></div>
                                    <h3>Edit</h3>
                                </div>
                                <!-- } //end if -->
                            </div>
                        </div>
                        <!-- End: Video post -->



                        <!-- Start: Link post -->
                        <div class="post link">
                            <div class="header">
                                <div class="user">
                                    <div class="avatar"><a href="profile.html"><img alt="MS" title="Maria Sharapova" src="../public/img/profile/mariasharapova_avatar.png"></a></div>
                                    <div class="data">
                                        <a href="profile.html"><h3 class="name">Maria Sharapova</h3></a>
                                        <p class="date">Yesterday at 7:00am</p>
                                    </div>
                                </div>
                                <button class="close"></button>
                            </div>
                            <div class="content">
                                <a target="_blank" href="">
                                    <div class="link">
                                        <div class="logo"></div><div class="data">
                                            <h4 class="source">Mens Health Magazine</h4>
                                            <h2 class="title">The Most Effective Cardio Workout For Your Body</h2>
                                            <h3 class="author">By Adam Campbell</h3>
                                            <p class="body">Use this technique to get the body workout it needs</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="footer">
                                <div class="kudos">
                                    <div class="icon"></div>
                                    <h3>Give Kudos</h3>
                                </div>
                                <div class="comment">
                                    <div class="icon"></div>
                                    <h3>Comment</h3>
                                </div>
                                <!-- if( post belongs to user ){ -->
                                <div class="edit">
                                    <div class="icon"></div>
                                    <h3>Edit</h3>
                                </div>
                                <!-- } //end if -->
                            </div>
                        </div>
                        <!-- End: Link post -->



                        <!-- Start: Gym post -->
                        <div class="post gym">
                            <div class="header">
                                <div class="user">
                                    <div class="avatar"><a href="gym.html"><img alt="PF" title="Planet Fitness (#5548)" src="../public/img/gym/planetfitness_avatar.png"></a></div>
                                    <div class="data">
                                        <a href="gym.html"><h3 class="name">Planet Fitness (#5548)</h3></a>
                                        <p class="date">Yesterday at 7:00am</p>
                                    </div>
                                </div>
                                <button class="close"></button>
                            </div>
                            <div class="content">
                                <p>We are announing that we will now be open later hours for everyone that wants to work out late. We are now open from 5AM to 12AM Every day! We are very excited to now offer later times for everyone! Trainers will also take appointments for during our new hours! Walk In apointments are only availible from 5AM to 9PM. Thank you hope you enjoy our new hours!</p>
                            </div>
                            <div class="footer">
                                <div class="kudos">
                                    <div class="icon"></div>
                                    <h3>Give Kudos</h3>
                                </div>
                                <div class="comment">
                                    <div class="icon"></div>
                                    <h3>Comment</h3>
                                </div>
                                <!-- if( post belongs to user ){ -->
                                <div class="edit">
                                    <div class="icon"></div>
                                    <h3>Edit</h3>
                                </div>
                                <!-- } //end if -->
                            </div>
                        </div>
                        <% end %>
                        <!-- End: Gym post -->
                        
                 

                    
  
