<%= form_for @profile, :url=>{:action=>'create_post'}, :html=>{:name=>'sharepost',:id => "update_post", :enctype=>"multipart/form-data"} do |f| %>

	<div class="post">
		<textarea name="post" placeholder="What did you do today?" class="posttext"></textarea>
	</div>
	<div class="post_options">
		<div class="share" title="Who do you want to share this with?">
			<h3>Share with:</h3>
			<%= f.select :share_with, options_for_select(["Public", "Private","Friends"]), :class => 'genForm_dropBox' %>		
			<div class="arrows" style="display:none;">
				<span><%= image_tag('icons/up.png') %></span>
				<span><%= image_tag('icons/down.png') %></span>						
			</div>
		</div>
		<div class="extra">
			<input name="photo" id="photo" type="file" accept="image/*"><span><%= image_tag('icons/picture.png') %></span>
			<input name="video" id="video" type="file" accept="video/*"><span><%= image_tag('icons/video.png') %></span>
			
			
		</div>
		<button id="share_post">Share</button>
	</div>
	<% end %>
<%= form_for @profile, :url=>{:action=>'create_album'}, :html=>{:name=>'createalbum',:id => "create_album", :enctype=>"multipart/form-data"} do |f| %>
<input style="display:none;" name="album" id="album" type="file" accept="image/* , video/mp4"><span id="create_album"></span>
<button id="share_album" title="You can create album of videos and images">Create Album</button>
<% end %>

<script>
document.getElementById('share_album').onclick = function() {
document.getElementById("create_album").reset();
$('#album').click();
			if( !$('#album').val()) //check empty input filed
				{
					return false;
				}
			

};
$('#album').on('change',function(e) {
 if( !$('#album').val()) //check empty input filed
		{
			return false;
		}
 else {		
			
		    e.preventDefault();		    
    		$('#create_album').submit();	 
		    return false;
}		    
	});
</script>
