<div id="left_side" style="height:539px;">
  <div id="left_side_fixed">
    <div id="account_info">
      <div class="user">
        <div class="mask">        
                 
          <% if !@account.avatar.blank? %>
          <%= link_to(image_tag(@account.avatar), "/#{@account.user_name}") %>
          <% elsif !@account.pic.blank? %>
          <%= link_to(image_tag('https://' + @account.pic), "/#{@account['user_name']}") %>
          <% else %>
           <%= link_to(image_tag('default.png'), "/#{@account['user_name']}") %>
          <% end %>
        </div>
        <%= link_to("<h3>#{@account.first_name} <br> #{@account.last_name}</h3>".html_safe, "/#{@account['user_name']}") %>
      </div>
      <div class="data">
        <dl>
          <dt>Steps</dt>
          <dd><%= @account.fitbit.present? ? number_with_delimiter(@account.fitbit.steps) : 'N/A'  %> </dd>
        </dl>
        <dl>
          <dt>Calories</dt>
          <dd><%= @account.fitbit.present? ? number_with_delimiter(@account.fitbit.summary_calories) : 'N/A'  %></dd>
        </dl>
      </div>
      <%= render(:partial => 'nav/side_nav') %>
     

    </div>
  </div>
</div>
<script type="text/javascript">

</script>
