	 
                      <!-- Start: Text post -->
                       <% @posts.each do |post| %>                           
						  <% img =  useravatar(post.account) %>
						  <% time = post.created_at %>
						  <% last = post.account.last_name.present? ? post.account.last_name.capitalize : ''; %>
						  <% if post.account.user_type == 3 %>						    
						     <% name = post.account.account_gym.name.present? ? post.account.account_gym.name.capitalize : post.account.first_name.capitalize + ' ' +  last.capitalize %>
						  <% else %>
							 <% name = post.account.first_name.capitalize + ' ' + last %>
						  <% end %>
					
                        <div class="post <%= post.post_type!='text' ? post.post_type : '' %> <%= post.account.user_type ==3 ? 'gym' :'' %>" id="<%= post.id %>">
                            <div class="header">
                           	<% if post.post_type =='challenge' %>	
									<%=  get_challenge_head(post.group_id) %>        
                               
                           	
                           	<% else %>
                           
                                <div class="user">
                                    <div class="avatar">
                                 <%= link_to(image_tag(img), "/#{post.account.user_name}" ,html_options={:title => "#{post.account.first_name}", :alt => '#{post.account.first_name}'}); %>   
                                      
                                    </div>
                                    <div class="data">
                                        <a href="<%= post.account.user_name %>"><h3 class="name"><%= name %></h3></a>
                                        <p class="date"> <%= time_ago_in_words(time) %> ago</p>
                                    </div>
                                </div>
                                   <% if @account.id == post.account_id %>
                                        <button class=" close post-delete " data-id="<%= Base64.encode64(post.id.to_s)%>"></button>
									<% end %>
                                
                         
                            <% end %>
                               </div>
                            <div class="content">
							
							<% if post.post_type =='challenge' %>	
										<%=  get_challenge_body(post.group_id) %>    
						    <% elsif post.post_type =='fitbit' %>
                             
							<%=  post.text.html_safe %>
                            <% elsif post.post_type =='link' %>    
							<%=  post.text.html_safe %>
                            <% else %>
                              <p> <% if post.text.present? %>
                                <% post.text.split.select {|w| %>
								
								   <% if  w[0] == "#" %>
								  <%=raw tag_links(w)%>
									 <% elsif w[0] == "@" %>    
											<%=raw user_links(w)%>                
								  <% else %>    
									<%= w.html_safe  %>    
								  <% end %>      
								  <%  } %>
								   <% end %>  
								   </p>
							<% end %>	 
							<!-- video section -->
							<% if post.video.present? %>		
							  <div class="video_container">

								<video id='video'  controls width="375" height="193">
								  <source src='<%= post.video %>' type='video/mp4'/>
								  Your browser does not support the video .
								</video>
							  </div>
							<% end %>  
							<!-- image section -->
							<% if post.image.present? %>		
							  <div class="photo_container">
								<%= image_tag(post.image(:medium)) %>		
							  </div>
							<% end %>
								<% if post.post_type =='fitspot' %>	
								                     <div class="visual">
                                    <div class="image">
										
										<% img =   get_fit_medium(post.group_id) %>
										<% if img.present? %>
											<%= image_tag(img) %>
										<% else %> 
											<% fitimg =   get_fit_cover(1,post.group_id) %>
												<% if fitimg.present? %>
												<%= image_tag(fitimg.cover) %>                                        
												<% else %>
											   <%= image_tag('fitspot.png') %>
											   <% end %>
										 <% end %>  
                                    </div><div class="map_visual">
										<% location =  fitspot_location(post.group_id) %>
                                       <input type="hidden" class="geopost" mapPlaceholder="placeholder_<%= post.id %>" value="<%=	location %>">
                                    <div class="map" id="placeholder_<%= post.id %>" style="height:224px;">                                      
                                    </div>
                                    </div>
                                </div>
                                
								<% end %>	
							<% if post.post_type =='checkin' %> 
								<div class="visual">		
										
									<input type="hidden" class="geopost" mapPlaceholder="placeholder_<%= post.id %>" value="<%=	post.text.split('at ')[-1] %>">
                                    <div class="map" id="placeholder_<%= post.id %>" style="height:100px;">                                      
                                    </div>
                                </div>
							<% end %>
							
								   
                            </div>
                            
						<div class="comment_section"  id="cmt<%= post.id %>">
                                <div class="comment_container">
									<% post.comment.each do |cm| %>
                                    <div class="comment" id="scont<%= cm.id  %>">
                                     <% abc =  get_user_detail(cm.account_id) %>
                                       <% if abc.present? %>
                                       <% img =  useravatar(abc) %>
                                        <div class="avatar">
                                             <%= link_to(image_tag(img) , abc.user_name) %>
                                        </div>
                                        <div class="header">
                                         <% if abc.user_type == 3 %>
                                         <% last = abc.last_name.present? ? abc.last_name.capitalize : ''; %>
                                            <h5><%= abc.account_gym.name.present? ? abc.account_gym.name.capitalize : abc.first_name.capitalize + ' ' +  last.capitalize %></h5>
                                          <% else %>
                                            <h5><%= abc.first_name.capitalize %> <%= abc.last_name.present? ? abc.last_name : '' %></h5>
                                          <% end %>  
                                            <p class="timestamp"><% cm.created_at.strftime("%B %e at %l:%M") %> <%= time_ago_in_words(cm.created_at)  %> ago</p>
                                        </div>
                                        <div class="text">
                                            <p class="the_comment">
										    <% cm.text.split.select {|w| %>
												<% if  w[0] == "#" %>
												<%=raw tag_links(w)%>
												<% elsif w[0] == "@" %>    
														<%=raw user_links(w)%>      
												<% else %>    
												<%= w %>    
												<% end %>      
										    <%  } %> </p>
										    <% if @account.id == cm.account_id  %> 						
											<button data-id="<%=  Base64.encode64(cm.id.to_s)   %>" class="close comment-delete"></button>			
											<% end %>
                                        </div>
                                         <% end %>
                                   
                                    </div>                            
                                    <% end %>
                                </div>
                               
                                <div class="add_comment">
                                    <textarea class="comment" maxlength="255" placeholder="Start commenting here..." data-id="<%= post.id %>" ></textarea>
                                    <button class="post_comment" type="button" data-id="<%= post.id %>">Post Comment</button>
                                    <ul class="arport2" style="display:none;"> </ul>
									<input type="hidden" name="commentnew" id="commentnew">
                                </div>
                            </div>
                            
                            <div class="footer">
							
                                <div class="kudos postkudos" data-id="<%= Base64.encode64(post.id.to_s) %>">
                                    <div class="<%= check_kudos(post.id.to_s) %>"></div>
                                    <h3>Give Kudos</h3>
                                </div>
                         
                                <div class="comment show_comment">
                                    <div class="icon"></div>
                                    <h3>Comment <%= post.comment.present? ? "(#{post.comment.count})" : '' %></h3>
                                </div>
                                <!-- if( post belongs to user ){ -->
                                	<% if @account.id == post.account_id  %>    
                                	<%  if post.post_type != "fitspot" && post.post_type != "fitbit" && post.post_type != "challenge" %>
                                <div class="edit" data-toggle="modal" data-target="#postEditForm" data-id="<%= post.id %>" >
                                    <div class="icon"></div>
                                    <h3>Edit</h3>
                                </div>
                                <% end %>
                                <% end %>
                                <!-- } //end if -->
                            </div>
                        </div>
                      <% end %>  
                        <!-- End: Text post -->
                    
                        

                        <!-- End: Gym post -->
                        
                 

                    
  
