<% if @post.present? %>
<%	
    @name = @post.account.first_name + ' ' + @post.account.last_name
    @time = @post.created_at %>
    
<div class="post right " id="<%= @post.id %>" style="margin: 75px 10px 10px; float: right; ">
		<div class="profile_picture">
			<div class="user">	
			<% img = useravatar(@post.account) %>
          <%= image_tag img %>
    
          </div>
	</div>
		<div class="top green">
			<h3 class='green'><%= @name %> </h3>
			<h4><%= @time.present? ? time_ago_in_words(@time) : 'less than a minute' %> ago</h4>
                        <% if @account.id == @post.account_id %>
						<a class="post-delete" href="javascript:void(0);" title="Delete" data-id="<%= Base64.encode64(@post.id.to_s)%>">DELETE</a>	
			<% end %>
			<span><%= image_tag('icons/green_arrow.png') %></span>
		</div>
		<div class="data" style="min-height: 50px;">
		<p><% @post.text.split.select {|w| %>
       <% if  w[0] == "#" %>
      <%=raw tag_links(w)%>
          <% elsif w[0] == "@" %>    
     <%=raw user_links(w)%>      
      <% else %>    
        <%= w %>    
      <% end %>      
      <%  } %></p>
		</div>
   <% if @post.image.present? %>		
	<div class="data-img">
		<%= image_tag(@post.image(:medium)) %>
	</div>
	<% end %>
	<% if @post.video.present? %>		
	<div class="data-img">
		<video id='video'  controls width="300" height="300">
  <source src='<%= @post.video %>' type='video/mp4'/>
  Your browser does not support the video .
</video>

	</div>
		
	<% end %>
	<div class="comments" id="cmt<%= @post.id %>">
	</div>
	<div class="comment_box">
			<textarea class="comment" data-id="<%= @post.id %>" style="resize: none"></textarea>
		</div>
		<div class="bottom">
			<% link_to('Give Kudos!', '/') %>
			<%= link_to('Comment', 'javascript:void(0);', html_options={:class => 'add_comment'}) %>
		</div>
<% end %>
