
		<div class="comment">
			 <% abc =  get_user_detail(@comment.account_id) %>
		<div class="avatar"><% if !abc.avatar.blank? %>
			  <%= image_tag abc.avatar(:thumb) %>
			  <% elsif !abc.pic.blank? %>
				<%= image_tag 'https://' + abc.pic %>
				<% else %>
				<%= image_tag 'default.png' %>
			  <% end %>
			</div>
				<h3><a href="<%= abc.user_name %>" ><%= abc.first_name %> <%= abc.last_name.present? ? abc.last_name : '' %></a></h3>
				<span class="time"><% @comment.created_at.strftime("%B %e at %l:%M") %><%= time_ago_in_words(@comment.created_at)  %>AGO</span>
				<p> <%= @comment.text %> </p>
		 </div>
	
