<% title "Show User" %>
<section class="admin_maincontent">
  <div class="page-header">
    <div class="col-sm-9 PaddingLeft">
      <h1 class="NoMargin">Show User</h1>
    </div>
    <div class="col-sm-3 PaddingRight">
      <div class="show_back_right">
        <%= link_to 'Edit', edit_admin_account_path(@user) , :class => 'btn btn-primary' %>
        <%= link_to 'Back', admin_accounts_path , :class => 'btn btn-default' %>
      </div></div>
    <div class="clear"></div>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="show_content">
    <div class="show_content_row">
      <label>First Name:</label>
      <p> <%= @user.first_name %></p>
    </div>
    <div class="show_content_row">
      <label>Last Name:</label>
      <p> <%= @user.last_name %></p>
    </div>
    <div class="show_content_row">
      <label>Email:</label>
      <p><%= (@user.email.present?) ? @user.email : '' %></p>
    </div>
    <div class="show_content_row">
      <label>User Name:</label>
      <p><%= (@user.user_name.present?) ? @user.user_name : '-'   %></p>
    </div>
    <div class="show_content_row">
      <label>Website Url:</label>
      <p><%= (@user.account_url.present?) ? @user.account_url : '-'    %></p>
    </div>
    <div class="show_content_row">
      <label>Mobile:</label>
      <p><%= (@user.mobile.present?) ? @user.mobile : '-' %></p>
    </div>
    <% if @user.user_type.to_i != 3 %>
    <div class="show_content_row">
      <label>Birthday:</label>
      <p><%=  (@user.dob.present?) ? @user.dob.to_s(:myformat) : '' %></p>
    </div>
    <div class="show_content_row">
      <label>Profession:</label>
      <p> <%= (@user.profession_id.present?) ?  get_field_value('Profession','name', @user.profession_id) : '-' %></p>
    </div>
    <div class="show_content_row">
      <label>Company:</label>
      <p><%= (@user.company.present?) ? @user.company : '-' %></p>
    </div>
     <div class="show_content_row">
      <label>Industry:</label>
      <p> <%= (@user.industry_id.present?) ?  get_field_value('Industry','name', @user.industry_id) : '-' %></p>
    </div>
     <div class="show_content_row">
      <label>Goals:</label>
      <p> 
          <%= (@user.goals.present?) ? @user.goals.map{|goal| get_goal_name(goal)}.join(" , ") : '-' %>
      </p>
    </div>
    <% end  %>
     <div class="show_content_row">
      <label>Gym Name:</label>
      <p> 
     
          <% if @user.user_type.to_i == 3 %>
            <%= @user.account_gym.name.present? ? @user.account_gym.name : '-' %>
          <% else %>
         <%= (@user.gym_id.present?) ?  get_field_value('AccountGym','name', @user.gym_id) : '-' %>
          <% end  %>
  </p>
    </div>
    
   
  <div class="clear"</div>
</section>
