<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        
        <section style="float:left;max-width:600px;width:100%;border:1px solid #ccc;">
                    <div style="float:left;width:97%;height:44px;padding:0px;text-align: left; padding:10px 0 0 3%;">
                <a href="<%= @request.base_url %>" style="width:120px;text-decoration:none;height:120px;display: inline-block;"><img alt="logo-image" src="<%= @request.base_url+'/ft_logo.png' %>" title="FitTogther" width="120" height="120" /> </a></div>
         <p style="float:left;width:94%;padding: 15px 3% 0;font-size:16px; margin:5px 0px;"><b> <%=   @current_user.first_name.capitalize %> invited you for fitspot on FitTogether </b></p> 
          <div style="padding:5px 3% 15px; width:94%; font-size:16px;">
                <p style="width:100%;float:left;font-style:normal;font-size:16px; margin:5px 0px;">Hello <%=   @user_event.account.first_name.capitalize %> ,</p>
                <p style="width:100%;float:left;line-height:20px;font-size:16px; margin:5px 0px;">
                   <%=   @current_user.first_name.capitalize %> invited you for fitspot <%=   @user_event.fitspot.title.capitalize %> 
                  <p/>
                  <p style="width:100%;float:left;line-height:20px;font-size:16px; margin:5px 0px;">
                   Click&nbsp; <a title="fitTogether" href="<%= @request.base_url %>/fitspots/<%= Base64.encode64(@user_event.fitspot.id.to_s) %>">here</a> to view 
                </p>
                <div style="float:left;width:100%;">
                    <br />
                    <div style="float:left;width:100%;">
                        <span style="float:left;width:100%;line-height:20px;font-size:16px;">Regards,</span> <strong style="float:left;width:100%;line-height:20px;">FitTogether Team</strong></div>
                </div>
            </div>
        </section>
        <p>&nbsp;</p>

    </body>
</html>
