<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        
        <section style="float:left;width:600px;border:1px solid #ccc;">
            <div style="float:left;width:100%;height:44px;padding:0px;text-align: center;">
                <a href="<%= @request.base_url %>" style="width:150px;text-decoration:none;height:150px;display: inline-block;"><img alt="logo-image" src="<%= @request.base_url+'/ft_logo.png' %>" title="FitTogther" /> </a></div>
          <h1 style="text-align: center;padding: 15px 0 0 0 ;"> <%=   @current_user.first_name.capitalize %> requested for appointment on FitTogether </h1> 
          <div style="float:left; padding: 30px 30px 0 100px; width: 540px; font-size:16px;">
                <em style="float:left;width:100%;font-style:normal;font-size:16px;">Hello <%=   @user_event.trainer.first_name.capitalize %> ,</em>
                <p style="float:left;line-height:20px;margin-top:30px;font-size:16px;">
                   <%=   @current_user.first_name.capitalize %> requested for appointment on Fittogether for the date:  <%=   @user_event.start_date %> 
                  <br/> Click&nbsp; <a title="fitTogether" href="<%= @request.base_url %>/<%= @user_event.trainer.user_name %> /appointments">here</a> to approve 
                </p>
                <div style="float:left;width:100%;">
                    <br />
                    <div style="float:left;width:100%;">
                        <span style="float:left;width:100%;line-height:20px;font-size:16px;">Regards,</span> <strong style="float:left;width:100%;line-height:20px;">FitTogether Team</strong></div>
                </div>
            </div>
        </section>
        <p>&nbsp;</p>

    </body>
</html>
