
<div class="events convers-main">
  <div class="ad-btn">
  </div>	
  <div class="conver-area">
	  <div class="convers-row">
    <div class="conver-left" id="conver">
      <div class="" id="tblData">
        <% if @conversation.present? %>
          <% updateread(@conversation) %>
       <ul>
         
          <% @conversation.each do |con| %>
        <% kont =  countaliveconversation(con.id) %>
         <% if kont > 0 %>
            <% 	@receiver = interlocutor(con) %>

            
              <li id="cv_<%= con.id %>">
                <div class="imageRound">	
                     <% if con.conversation_type != 1 %> 
                  <% img = useravatar(@receiver) %>                
                  <%= image_tag(img) %>
                  <% else %>
                     <%= image_tag('group.jpg') %>
                  <% end %>
                </div>
                <div class="user-name">
                  <% if con.conversation_type != 1 %> 
                  <h2><%= link_to("<h3>#{@receiver.first_name} </h3>".html_safe, "/#{@receiver.user_name}") %>
                     <% else %>
                    <%= get_firstname_of_members(con.id)  %>
                    <% end %>
                  </h2>
                  
                  <div class="messageList msgLink" style="cursor:pointer;"  >
                    <a href="<%= conversations_path(Base64.encode64(con.id.to_s)) %>"> <%= raw  getmessage(con.id) %></a>
                  </div>
                </div>
              <% end %>

            <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="conver-right conver-md">
      <%= render(:partial => 'conversations/conversations', :message => @messages) %>
    </div>
    </div>
    <% if !@messages.present? %>
      <div class="convers-row">
        <h2 class="noti-heading">  No Message found</h2>
        <div class="conver-btn text-center"><button class="newmsf btn btn-primary" data-toggle="modal" data-target="#messageForm" >New Message</button></div>
      </div>
    <% end  %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
