<%  if @event.present? %>  
									<% @event.each do |ft| %>
									<% img = ft.image    %>
									<div>
										<div class="avatar">
										<% if img.present? %>
											<h3><%= image_tag(img) %></h3>
											<% else %>
											<h3><%= ft.event_date.strftime("%e") %></h3>
											<% end %>
										</div>
										<div class="description">
											<p class="date"><%= ft.event_date.strftime("%B %e") %></p><br>
											<p class="event">
												<%= ft.title.capitalize  %>
												</p><br>
											<p class="location"><%= ft.fitspot.location %></p><br>
											<p class="actions">
											<button class="attending" data-type="add" title="Attending"   data-id="<%=  Base64.encode64(ft.id.to_s)   %>"> 
												Attending</button>
										
										</div>
									</div>
									<% end %>
									<% else %>
									<p class="location"> No suggested events </p>
									<% end %>
