 <%  if @event.present? %>  
								<% @event.each do |ft| %>
								<% img = ft.event.image    %>
								<div>
									<div class="avatar">
									<% if img.present? %>
											<%= image_tag(img) %>
											<% else %>
											<h3><%= ft.event.event_date.strftime("%e") %></h3>
											<% end %>
									</div>
									<div class="description">
										<p class="date"><%= ft.event.event_date.strftime("%B %e") %></p><br>
										<p class="event">
											<%= ft.event.title.capitalize  %>
											</p><br>
										<p class="location"><%= ft.event.fitspot.location %></p><br>
										<p class="actions">
										<button class="attending selected" disabled data-type="add" title="Attending"   data-id="<%=  Base64.encode64(ft.event.id.to_s)   %>"> 
											Attending</button>
										<span>|</span><button class="attending" data-type="not" title="Not Attending" data-id="<%=  Base64.encode64(ft.event.id.to_s)   %>">Not Attending</button></p>	
										
									</div>
								</div>
								<% end %>
								<% else %>
								<p class="location"> You are not attending any event </p>
                            <% end %>
