<script>
var cities = new Array();
var cid = '<%= @account.city_id %>';

<% for city in @cities -%>
  cities.push(new Array('<%=h city.state_code %>', '<%=h city.name %>', <%= city.id %>));
<% end -%>

function citySelected() {
  state_id = $('#state_id_0').val();
  var optionsnew = '';
  $('#city_id_0').empty();
     $.each(cities, function(key,city) {
      if (city[0] == state_id) {
        var sel = cid ==city[2] ? 'selected' :'';
        optionsnew += "<option value=" + city[2] + " "+ sel+ ">"+ city[1]+" </option>";
    }
  });
    $('#city_id_0').append(optionsnew);
  
}

$(window).load(function(){
  citySelected();
  $('#state_id_0').on('change', citySelected);
});
</script> 
<div id="about">
<% if @account_type.to_i != 3 %>
	<%= form_for @page, :url=>{:action=>'update_about'}, :html=>{:class=>'about_form', :id=>'abt'} do |f| %>

		<div class="input_container">
			<label>Your Gender*:</label>
			<div class="radio_button">
		<div class="radio <%= @account.gender =="m" ? 'checked' :'' %>" >
                    <p>Male</p>
                    <input type="radio" name="gender" value="m" <%= @account.gender =="m" ? 'checked' :'' %> >
				<label for="gender" generated="true" class="error"></label>
				</div>
				<div class="radio <%= @account.gender =="f" ? 'checked' :'' %>">
				<p>Female</p>
				<input type="radio" name="gender" value="f" <%= @account.gender =="f" ? 'checked' :'' %> >
				</div>
			</div>
		</div>
		<div class="input_container location wherelive">
			<label>Where do you live?*</label>
					
			<% states = State.all.map{|x| [x.name] + [x.state_code]} %>
			<%= select_tag(:state_id_0, options_for_select(states ,@account.state_id)) %>
			
			
			<% cities = City.all.map{|x| [x.name] + [x.id]} %>
			<%= select_tag(:city_id_0, options_for_select(cities, @account.city_id)) %>	
				<!-- <label>ZIP</label> -->
			<input type="text" placeholder="ZIP" name="zipcode" value="<%= @account.zipcode %>">		
		</div>
		<div class="input_container">
			<label>Do you belong to a Gym?*</label>
				<div class="radio_button">
				<div class="radio <%= @account.belong.to_i == 1 ? 'checked' :'' %>">
					<p>YES</p><input type="radio" name="belong" value="y" checked id="yesgym" <%= @account.belong.present? ? 'checked' :'' %> >
					</div>
					<div class="radio <%= @account.belong.to_i == 1 ? '' :'checked' %>">
					<p>NO</p><input type="radio" name="belong" value="n" id="nogym" <%= @account.belong.present? ? '' :'checked' %> >
					</div>
				</div>
				</div>
			<% gyms = AccountGym.where("name !=?", "").map{|x| [x.name] + [x.id]} %>
			
			 <div class="input_container"> 
			 <label></label>
		   	<%= select_tag(:gym, options_for_select(gyms, @account.gym_id), prompt: "select gym") %>	
		   	</div>
		   	       <div class="input_container">
		   	           <label></label>     
                        <%  if @account.gym_id.present? %>
                          <select name='location' id="location">
                            <option value="">Location</option>
                         <% gyddata =     getgymlocations(@account.gym_id) %>
                        <%      if gyddata.present?
                                 x = 1
                                gyddata.address.each { |y| 
                                sel = x == @account.gym_location_id ? 'selected' :'' %>
                                <option <%= sel %> value="<%= x %>"><%= y %> </option>
                        <%  
                         x += 1
                        } 
                        end
                        %>
                            </select>

                          <% else %>

           
				<select name='location' id="location">
					<option value=''>Location</option>
				</select>
			
                          <% end  %>
				</div>
	
		<div class="input_container">
			<label>What Industry do you work in?</label>
		
			<% industries = Industry.all.map{|x| [x.name] + [x.id]} %>
			<%= select_tag(:industry, options_for_select(industries, @account.industry_id)) %>	
	
		</div>
		<div class="input_container location location-lg profes">
			<label>What is your Profession?</label>
			
				<% professions = Profession.all.map{|x| [x.name] + [x.id]} %>
			<%= select_tag(:profession, options_for_select(professions, @account.profession_id)) %>	
			
				<input type="text" placeholder="COMPANY" name="company" value="<%= @account.company %>">
			
		</div>
		<div class="input_container">
			<label>Are you in a Relationship?</label>
			
					<% relationships = Relationship.all.map{|x| [x.name] + [x.id]} %>
			<%= select_tag(:relationship, options_for_select(relationships, @account.relationship_id)) %>
		
		</div>
		<div class="input_container location">
			<label>When is your Birthday?</label>
		
			
					<%=	select_month(@account.dob.to_s[5..6].to_i) %>			
				    <%=	select_day(@account.dob.to_s[8..9].to_i) %>				
				    <%=	select_year(@account.dob.to_s[0..3].to_i, :start_year => DateTime.now.year, 
							:end_year => DateTime.now.year - 115) %>
							
			
		</div>
		<div class="input_container">
			<label>What are your Fitness Goals?</label>
			
			<% goals = Goal.all.map{|x| [x.name] + [x.id]} %>
			<%= select_tag(:goal, options_for_select(goals, @account.goals.map {|j| j}), multiple: true) %>
				<!--<button class="add add_goal" type="button">+</button>-->
		
		</div>
		<div class="input_container">
			<label>Why are you here?</label>
		
			<% reason = Reason.all.map{|x| [x.name] + [x.id]} %>
			<%= select_tag(:reason, options_for_select(reason, @account.reason_id)) %>
			
		</div>
		
			<% if @account_type.to_i != 2 && @account_type.to_i != 3 %>
			<div class="input_container">
			<label>Are you ok with the trainers contacting you?</label>
			<div class="radio_button">
			     <div class="radio <%= @account_details.trainer_contacts.to_i == 1 ? 'checked' :'' %>">
				<p>YES</p><input type="radio" name="trainer_contacts" value="1" <%= @account_details.trainer_contacts.to_i == 1 ? 'checked' :'' %>>
				</div>
				<div class="radio <%= @account_details.trainer_contacts.to_i == 0 ? 'checked' :'' %>">
				<p>NO</p><input type="radio" name="trainer_contacts" value="0"  <%= @account_details.trainer_contacts.to_i == 0 ? 'checked=checked' :'' %> >
				</div>
			</div>
		
		
		</div>
			<% end %>
		<div class="submit_container">		
			<button id="save_changes" type="submit" >Save Changes</button>
		</div>

	<% end %>
<% end %>
<div class="about_form-new">
<% if @account_type.to_i == 2 %>
  <a class="trainer_info btn btn-primary"> Advanced details</a> 
  <div class="trainer_details_info" style="display:none;">
    <%=  render 'trainers_details', {'account_details' => @account_details} %>
   </div> 
<% end %>

<% if @account_type.to_i == 3 %>
   
  <div>
    <%=  render 'settings_about_gym', {'account_details' => @account_details} %>
   </div> 
<% end %>
 </div>
 </div>
        <script>
   $(function() {
  $('#gym').on('change', function() {
    var id = $(this).val();
    var opt ='';
    if (id !="") {
      $.ajax({  
        type: "POST",
        url: '<%= get_address_path %>', //sumbits it to the given url of the form
        dataType: "HTML",
        data: {id: id},
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function(data) {
          
          $('#location').html(data);
        
        },
        error: function(xhr, ajaxOptions, thrownError) {
      
          console.log(thrownError);

        }

      });
    }
  });
  });

$(function() {
    $('div.radio input[type="radio"]').click(Settings.check_radio);
});
</script>        
          
          

