 <script>
  
   $(function() {
                    $('.start').timepicker();
                    $('.end').timepicker();
                   
                });
            </script>
 
<%= form_for @page,:url=>{:action=>'update_about_gym'},:html=>{:id => "update_about_gym"} do |f| %>

  <div class="input_container about_gym">
    <label>Gym Name</label>
    <div class="input">
     <input type="text" name="name" value="<%= @account_gyms.name %>">     
     </div>
  </div>
  
  <div class="input_container about_gym Address">
		<label>Address</label>
		<div class="input">
		 <% if @account_gyms.address.present? %>  
          <% @account_gyms.address.each { |x|  %>
			<textarea name="address[]"><%= x %> </textarea>
			<% } %>
			   <%else%> 
			   <textarea name="address[]"></textarea>
			   <% end %>
			<button class="add add_address" type="button">+</button>
		</div>
	</div>
  
  <div class="input_container about_gym">
    <label>Specialty </label>
     <div class="input"> 
  	<% special = Specialty.all.map{|x| [x.name] + [x.id]} %>
			<%= select_tag(:specialty, options_for_select(special,@account_gyms.specialties.map {|j| j}), multiple: true) %>
   </div>
  </div>
  
  	<div class="input_container about_gym">
		<label>Are you a franchise?</label>
		<div class="input">	
			<div class="radio_button">
				<div class="radio <%= @account_gyms.franchise.to_i == 1 ? 'checked' :'' %> ">
					<p>Yes</p>
					<input type="radio" name="franchise" value="1"  <%= @account_gyms.franchise.to_i == 1 ? 'checked=checked' :'' %> >
					
					</div>
				  <div class="radio <%= @account_gyms.franchise.to_i == 0 ? 'checked' :'' %>">
					<p>No</p><input type="radio" name="franchise" value="0" <%= @account_gyms.franchise.to_i == 0 ? 'checked=checked' :'' %>>
				  </div>
			</div>		
		 </div>		
	</div>
		
    <div class="input_container about_gym">
		<label>Group Classes offered</label>
		 <div class="input">    
		<% gspecial = Specialty.all.map{|x| [x.name] + [x.id]} %>
		 <%= select_tag(:groupclasses, options_for_select(gspecial,@account_gyms.groupclasses.map{|j| j}),multiple: true) %>
		 </div>
  </div>
  
   <div class="Dance row input_container about_gym" style="display:none">
		<label>Dance Type</label>
			<div class="input">
				<textarea name="dancetype"></textarea>
			</div>
		</div>
		
  	<div class="input_container about_gym">
		<label>Do you allow trainers not affiliated with your<br> gym to train clients at your gym for a fee?</label>
		<div class="input">
			<div class="radio_button">
			<div class="radio <%= @account_gyms.train_client_at_your_gym.to_i == 1 ? 'checked' :'' %>">
				 <p>Yes</p>
				 <input type="radio" name="train_client_at_your_gym" value="1" id="tyes" <%= @account_gyms.train_client_at_your_gym.to_i == 1 ? 'checked=checked' :'' %> >
				</div>
				<div class="radio <%= @account_gyms.train_client_at_your_gym.to_i == 0 ? 'checked' :'' %>">
				 <p>No</p>
				 <input type="radio" name="train_client_at_your_gym" value="0" id="tno" <%= @account_gyms.train_client_at_your_gym.to_i == 0 ? 'checked=checked' :'' %> >
				</div>
		   </div>		
		</div>
		<% if @account_gyms.train_client_at_your_gym.to_i==1 %>
		<% style = "display:block" %>
		<% else %>
		  <% style = "display:none" %>
		<% end %>
		
		<div class="fee input_container about_gym" style="<%= style %>">
			<label>What is the fee?</label>
			<div class="input">      
				<input type="text" name="fee" value="<%=  @account_gyms.fee %>">
			</div>
		</div>
  </div>
  <div class="input_container about_gym">
			<label>What are your hours?</label>			
  </div>
	<div class="input_container about_gym">
		<label>Sunday</label>
		<div class="input radio-option">
			<div class="sec-in">
			<p>Open</p>
			<input type="text" name="sunday_start" class="start"   autocomplete="off" value="<%=  @account_gyms.timings["sunday_start"] %>" >
			</div>
			<div class="sec-in">
			<p>Close</p><input type="text" name="sunday_end" class="end" autocomplete="off" value="<%=  @account_gyms.timings["sunday_end"] %>">
			</div>
		</div>		
	</div>
	
	 <div class="input_container about_gym">
		<label>Monday</label>
		<div class="input radio-option">
			<div class="sec-in">
				<p>Open</p><input type="text" name="monday_start" class="start" autocomplete="off" value="<%=  @account_gyms.timings["monday_start"] %>" >
			</div>
			<div class="sec-in">
				<p>Close</p><input type="text" name="monday_end" class="end" autocomplete="off" value="<%=  @account_gyms.timings["monday_end"] %>">
			</div>
		</div>		
	</div>
	 <div class="input_container about_gym">
		<label>Tuesday</label>
		<div class="input radio-option">
			<div class="sec-in">
				<p>Open</p><input type="text" name="tuesday_start" class="start" value="<%=  @account_gyms.timings["tuesday_start"] %>" >
			</div>
			<div class="sec-in">
				<p>Close</p><input type="text" name="tuesday_end" class="end" value="<%=  @account_gyms.timings["tuesday_end"] %>">
			</div>
		</div>		
	</div>		
	<div class="input_container about_gym">
		<label>Wednesday</label>
		<div class="input radio-option">
			<div class="sec-in">
				<p>Open</p><input type="text" name="wednesday_start" class="start" value="<%=  @account_gyms.timings["wednesday_start"] %>">
			</div>
			<div class="sec-in">
				<p>Close</p><input type="text" name="wednesday_end" class="end" value="<%=  @account_gyms.timings["wednesday_end"] %>">
			</div>
		</div>		
	</div>
	<div class="input_container about_gym">
		<label>Thursday</label>
		<div class="input radio-option">
		<div class="sec-in">
			<p>Open</p><input type="text" name="thrusday_start" class="start" value="<%=  @account_gyms.timings["thrusday_start"] %>" >
			</div>
			<div class="sec-in">
			<p>Close</p><input type="text" name="thrusday_end" class="end" value="<%=  @account_gyms.timings["thrusday_end"] %>">
			</div>
	   </div>		
	</div>
	<div class="input_container about_gym">
		<label>Friday</label>
			<div class="input radio-option">
		<div class="sec-in">
			<p>Open</p><input type="text" name="friday_start" class="start" value="<%=  @account_gyms.timings["friday_start"] %>" >
			</div>
			<div class="sec-in">
			<p>Close</p><input type="text" name="friday_end" class="end" value="<%=  @account_gyms.timings["friday_end"] %>" >
			</div>
	   </div>		
	</div>
	<div class="input_container about_gym">
		<label>Saturday</label>
		<div class="input radio-option">
			<div class="sec-in">
				<p>Open</p><input type="text" name="saturday_start" class="start" value="<%=  @account_gyms.timings["saturday_start"] %>" >
			</div>
			<div class="sec-in">
				<p>Close</p><input type="text" name="saturday_end" class="end" value="<%=  @account_gyms.timings["saturday_end"] %>">
			</div>
		</div>		
	</div>
  <div class="input_container about_gym">
    <label>What amenities do you have?</label>
    <div class="input">
    <% amenity = Amenity.all.map{|x| [x.name] + [x.id]} %>
			<%= select_tag(:amenity, options_for_select(amenity,@account_gyms.amenities.map{|j| j}), multiple: true) %>
    </div> 
  </div>
 <div class="submit_container">
<button type="submit" class="btn btn-primary" value="save">Save</button>
<button class="btn btn-default bck" type="button" value="Cancel" onclick='window.history.go(-3)' href="javascript:void(0);" title="Cancel">Cancel</button>
</div>
<% end %>
