<div id="activities">
<%= form_for @page, :url=>{:action=>'update_activity'}, :html=>{:class=>'about_form'} do |f| %>


	<!--<h2>Please select minimum of 4 activities</h2>-->
<%  @activities.each do |activity| %>
<% check = '' %>
	<div class="input_container">
	   
		  <div class="avatar activity <%= activity.slug %>"></div>
         <label><%= activity.name %></label>
	
		  	<% if @accactivity.present? %>
		<% if @accactivity['activity_id'].include? activity.id.to_s %>
		<% check = 'checked' %> 
		<% end %>
		<% end %>
	
		  <div class="checkbox <%= check %>">	
		<input type='checkbox' name=activity[]  value=<%= activity.id %> <%= check %>>
		</div>
	</div>
<% end %>	
	<div class="submit_container">
			<button id="save_changes" type="submit" >Save</button>
	</div>

<% end %>
</div>
<script>
$(function() {
    $('div.checkbox input[type="checkbox"]').change(Settings.check_checkbox);
});
</script>
