<div id="email">
	<%= form_for @page, :url=>{:action=>'update_email_settings'}, :html=>{:class=>'update_email_settings'} do |f| %>
	
	   
       
	<% @email_settings.each do|privacy| %>
	 <% is_vis = is_visible(privacy.slug) %>
		<div class="input_container" style="<%= is_vis=='invisible' ? 'display:none':'' %>">
        
	<!--<tr style="<%= is_vis=='invisible' ? 'display:none':'' %>" > -->
	  <label><%= privacy.name %></label>
	  <% is_private = is_email(privacy.slug) %>
	 
	 
        
	  <% if is_private == 123 %>
	
	    <div class="radio_button">
                <div class="radio checked">
                    <p>Yes</p>
                    <input type='radio' name='<%= privacy.slug; %>' value='1' checked >
				</div><div class="radio">
                    <p>No</p>
                    <input type='radio' name='<%= privacy.slug; %>' value='0' >
                </div>
            </div>
        
	  <% else %>
	<div class="radio_button">
                <div class="radio  <%= is_private ? 'checked' : nil %>">
                    <p>Yes</p>
					<input type='radio' name='<%= privacy.slug; %>' value='1' <%= is_private ? 'checked' : nil %>>
				</div><div class="radio <%= is_private ? nil : 'checked' %>">
                    <p>No</p>
                    <input type='radio' name='<%= privacy.slug; %>' value='0' <%= is_private ? nil : 'checked' %>>                   
                   </div>
                </div>
         
	  <% end %>
	  </div>
	
	<% end %>
	

	
	<div class="submit_container">
	<button id="save_changes" type="submit">Save</button>
	</div>
<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		// var inputs = $('input:radio');
		$('.privacy_settings input:radio').change(Settings.validate_privacy);
		  $('div.radio input[type="radio"]').click(Settings.check_radio);
	});
</script>
