<%= render(:partial => '/nav/classvar') %>
<div id="basic">
    <form novalidate="novalidate" method="post" enctype="multipart/form-data" action="update_avatar" accept-charset="UTF-8">
    <div class="input_container avatar_input">
                            <div class="avatar image">
       <% if !@account.avatar.blank? %>
          <%= image_tag @account.avatar(:thumb) %>
          <% elsif !@account.pic.blank? %>
            <%= image_tag 'https://' + @account.pic %>
            <% else %>
            <%= image_tag 'default.png' %>
          <% end %>
    </div>
     
    <input type="file" name="avatar" onchange="this.form.submit()" accept="image/*"> 
   
     <p>Upload Profile Picture</p>
        </div>
  </form>

    <%= form_for @page, :url=>{:action=>'update_profile'} , :html=>{ :id=>'updateprofile',:class=>'setting_error'} do |f| %>
    
 
      <div class="input_container">
        <label for="fname">First Name:*</label>
        <input type="text" name="fname" maxlength="50" value="<%= @account['first_name'] %>">
        </div>
        
        
      <div class="input_container">
        <label for="lname">Last Name:*</label>
        <input type="text" name="lname" maxlength="50" value="<%= @account['last_name'] %>">
        </div>
        
       <div class="input_container">
        <label> Username:*  </label>
        
          <input type="text" class="check_data" name="username" maxlength="50" value="<%= @account['user_name'] %>">
        
      </div>
      <div class="input_container">
        <label>Website Url:</label>
          <input type="text" class="" name="url" value="<%= @account['account_url'] %>">
      </div>
      <div class="input_container mobile">
        <label>Mobile:</label>
      
          <input type="text" name="mobile[]" maxlength="3" value="<%= @account.mobile.to_s[0..2] %>"><input type="text" name="mobile[]" maxlength="3" value="<%= @account.mobile.to_s[3..5] %>"><input type="text" name="mobile[]" maxlength="4" value="<%= @account.mobile.to_s[6..9] %>" data-index="last">
      
      </div>
      <% if @account.user_type == 3 %>
      <div class="input_container">
                            <label>Gym Branding:</label>
                            <input type="color" value="<%= @account.account_gym.present? ?  @account.account_gym.color : "" %>" placeholder="#000000" name="color">
                        </div>
        
          <div class="input_container">
                            <label>Font color:</label>
                        
                            <input type="color" value="<%= @account.account_gym.present? ?  @account.account_gym.font_color : "" %>" placeholder="#000000" name="font_color">
                        </div>                
       <% end %>                 
       <% provider =  'auth0' %>
          
				<% @account.authorization.each do |ac| %>
				<% provider = ac.provider.present? ? ac.provider : 'auth0' %>
				<% end %>
				
				
    
      <div class="submit_container">
	
        <button id="save_changes" type="submit">Save</button> 
         <%# if provider == 'auth0' %>      
            <button id="change_password" type="button">Change Password</button>   
         <%# end %>
           <button type="button" class="btn-danger delete_user" style="background-color: #b33630" title="Once you delete your account, there is no going back. Please be certain.">Delete Your Account</button>	   
      </div>
      
    
    <% end %>
  <%= form_for @page, :url=>{:action=>'#'}, :html=>{:class=>'about_form setting_error', :id=>'updatepassword'} do |f| %>
    <!-- array('action' => 'update_password') -->
    <div  id="password_info" style="display:none;">
  
    <!--  <div class="input_container">
        <h2>Current Password:</h2>
        <div class="input">
          <input type="password" name="current_password">
        </div>
      </div>-->
      
      <div class="input_container">
        <label>New Password:</label>
           <input type="password" name="new_password" id="new_password">
        </div>
      <div class="input_container">
        <label>Verify New Password:</label>
             <input type="password" name="verify_password">
       </div>
      <div class="submit_container"> 
        <button id="save_password" type="button" >Save Password</button>
        <button id="cancel_password" type="button">Cancel</button>
      
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
</div>
<script>
  
  
  
  $('#save_password').click(function(event) {
    if (event && event.preventDefault) {
      event.preventDefault();
    }
   if ($("#updatepassword").valid()) {
   
  
    var userData = {};
    userData.password = $('#new_password').val();   
    userid = 'auth0|' +'<%= @account.fit_id %>';
	var cData = {};
	cData.client_id =  clientid ;
	cData.client_secret = secertid ;
	cData.grant_type = 'client_credentials';
   
		
			$.ajax({
		  url: 'https://fittogetherzap.auth0.com/oauth/token',
		  type: 'POST',
		  contentType: 'application/json',
		  dataType: 'json',
		  data: JSON.stringify(cData),
		  
		  success: function(xhr, status) {
		  newtoken = 'Bearer ' + xhr.access_token;
			  $.ajax({
			  url: 'https://fittogetherzap.auth0.com/api/users/'+userid+'/password',
			  type: 'PUT',
			  contentType: 'application/json',
			  dataType: 'json',
			  data: JSON.stringify(userData),
			  beforeSend: function(xhr) {
			  	xhr.setRequestHeader('Authorization', newtoken);
				$('.flash-message').html('');
			  },
			  success: function(xhr, status) {
			  $('.flash-message').html('<div class="alert alert-success">We have just sent you an email to confirm your password. </div>').show();  
				
			  },
			  error: function (xhr, ajaxOptions, thrownError) {
			  console.log(xhr)
			  },
				   
			});
			
		  },
		  error: function (xhr, ajaxOptions, thrownError) {
		  console.log(xhr)
		  },
			   
		});
        
    
    }
    });
    
       function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#cropbox').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgInp").change(function(){
        readURL(this);
    });
    
    // delete user account functionality
  $('.delete_user').on('click', function() {
      if (confirm('Are you sure you want to delete ?')) {
        var provider =  "<%= provider = @account.authorization.present? ? @account.authorization.provider : 'auth0' %>";
        var cData = {};
        cData.client_id = clientid ;
        cData.client_secret = secertid  ;
        cData.grant_type = 'client_credentials';      
             $.ajax({
                  dataType: "json",
                  type: 'DELETE',
                  url: '<%= delete_account_path %>',
                  beforeSend: function() {
                    //$('.dataDiv').html('Loading....');
                  },
                  success: function(data) {
				
                    if (data == 0) {
                      alert('There is some error, Please try again');
                    } else {
						 userid = provider +'|' + "<%= @account.fit_id %>";						 
                         $.ajax({
                           url: 'https://fittogetherzap.auth0.com/oauth/token',
                           type: 'POST',
                           contentType: 'application/json',
                           dataType: 'json',
                           data: JSON.stringify(cData),
                           success: function(xhr, status) {
                             newtoken = 'Bearer ' + xhr.access_token;                          
                             $.ajax({
                               url: 'https://fittogetherzap.auth0.com/api/users/'+userid,
                               type: 'DELETE',
                               contentType: 'application/json',
                               dataType: 'json',
                               data: JSON.stringify(cData),
                               beforeSend: function(xhr) {
                                 xhr.setRequestHeader('Authorization', newtoken);
                                 $('.flash-message').html('');
                               },
                               success: function(data) {
								 window.location.reload();
                               },
                               error: function(xhr, ajaxOptions, thrownError) {
                                 console.log(xhr)
                                 window.location.reload();
                               }
                             });
							
                           },
                           error: function(xhr, ajaxOptions, thrownError) {
                             console.log(xhr)
                           },
                         });
                      }
                  },
                  error: function(xhr, ajaxOptions, thrownError) {
                    console.log(xhr)
                  }
                });
      }

    });
    
    	
    
    
  
  
  </script>
