<div id="privacy">
	<%= form_for @page, :url=>{:action=>'update_privacy'}, :html=>{:class=>'about_form'} do |f| %>
	
	  
    
	<% @privacies.each do|privacy| %>
	<div class="input_container">
	  <label><%= privacy.name %></label>
	  <% is_private = isprivate(privacy.slug) %>
	 
	  <%# is_private = @account.is_private(privacy.id); %>
	  <% if is_private == 123 %>
	
	    <div class="radio_button">
                <div class="radio checked">
                    <p>Show</p>
                    <input type='radio' name='<%= privacy.slug; %>' value='1' checked >
                    </div>
	            <div class="radio">
                    <p>Hide</p>
                    <input type='radio' name='<%= privacy.slug; %>' value='0' >
                    </div>
              </div>
        </div>      
	  <% else %>
	   <div class="radio_button">
                <div class="radio <%= is_private ? 'checked' : nil %>">
                    <p>Show</p>
                    <input type='radio' name='<%= privacy.slug; %>' value='1' <%= is_private ? 'checked' : nil %>>
                 </div>
	           <div class="radio <%= is_private ? nil : 'checked' %>">
                    <p>Hide</p>
                    <input type='radio' name='<%= privacy.slug; %>' value='0' <%= is_private ? nil : 'checked' %>>
                    </div>
                </div>
        </div>       
	  <% end %>
	
	<% end %>
	<div class="submit_container">
	<button id="save_changes" type="submit">Save Changes</button>
	</div>
<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		 $('div.radio input[type="radio"]').click(Settings.check_radio);
		//$('.privacy_settings input:radio').change(Settings.validate_privacy);
	});
</script>
