<div class="trainer-heading"><h2>Trainers Details </h2></div>

<div class="input_container">
    <label>Main gym you train</label>
   
      <select name="account_trainers[gym_id]">
        <option value="1" <%= (@account_trainers.present? && @account_trainers['gym_id'] == 1) ? 'selected' :'' %>>Health Home</option>
        <option value="2" <%= (@account_trainers.present? && @account_trainers['gym_id'] == 2) ? 'selected' :'' %>>Health Club</option>
      </select>
    </div>
<div class="input_container">
    <label>What fitness disciplines do you specialize in?</label>
      <input type="text" name="account_trainers[fitness_discpline]" placeholder="" value="<%= (@account_trainers['fitness_discpline'].present?) ? @account_trainers['fitness_discpline'] : '' ; %>">
  </div>
<div class="input_container">
    <label>What certs do you have?</label>
   
      <input type="text" name="account_trainers[certs]" placeholder="" value="<%= (@account_trainers['certs'].present?) ? @account_trainers['certs']:''; %>">
  
  </div>
<div class="input_container">
    <label>Other qualifications or awards?</label>
   
      <input type="text" name="account_trainers[awards]" placeholder="" value="<%= (@account_trainers['awards'].present?) ? @account_trainers['awards'] : '' ; %>">
   
  </div>
<div class="input_container">
    <label>Do you do personal training sessions in people's homes?</label>
   <div class="radio_button">
		<div class="radio <%= (@account_trainers['personal_training'].present? && @account_trainers['personal_training'] == 'yes') ? 'checked' : nil %>">
		  <p>Yes</p>
		  <input type='radio' name="account_trainers[personal_training]" value='yes'<%= (@account_trainers['personal_training'].present? && @account_trainers['personal_training'] == 'yes') ? 'checked' : nil %> >
		  </div>
		   <div class="radio <%= (@account_trainers['personal_training'].present? && @account_trainers['personal_training'] == 'no') ? 'checked' : nil %>">
		 <p>No</p>
		 <input type='radio' name="account_trainers[personal_training]" value='no' <%= (@account_trainers['personal_training'].present? && @account_trainers['personal_training'] == 'no') ? 'checked' : nil %>>
		</div>
  </div>
  </div>
<div class="input_container">
    <label>Age</label>  
      <input type="text" name ="account_trainers[age]" placeholder="" value="<%= (@account_trainers['age'].present?) ? @account_trainers['age'] : '' ; %>">
  
  </div>
<div class="input_container">
    <label>Do you have a bootcamp?</label>
    <div class="radio_button">
		<div class="radio <%= (@account_trainers['bootcamp'].present? && @account_trainers['bootcamp'] == 'yes') ? 'checked' : nil %> ">
		  <p>Yes</p>
		  <input type='radio' name="account_trainers[bootcamp]" value='yes' <%= (@account_trainers['bootcamp'].present? && @account_trainers['bootcamp'] == 'yes') ? 'checked' : nil %> >
		 </div>
		   <div class="radio <%= (@account_trainers['bootcamp'].present? && @account_trainers['bootcamp'] == 'no') ? 'checked' : nil %>">
		  <p>No</p>
		  <input type='radio' name="account_trainers[bootcamp]" value='no' <%= (@account_trainers['bootcamp'].present? && @account_trainers['bootcamp'] == 'no') ? 'checked' : nil %> >
		  </div>  
    </div>
  </div>
<div class="input_container">
    <label>Location of the boot camp?</label>
   
      <input type="textarea" name="account_trainers[location_bootcamp]" placeholder="" value="<%= (@account_trainers['location_bootcamp'].present?) ? @account_trainers['location_bootcamp'] : ''; %>">
    
  </div>
<div class="input_container">
    <label>Do you offer group training?</label>
    <div class="radio_button">
      <div class="radio <%= (@account_trainers['group_training'].present? && @account_trainers['group_training'] == 'yes') ? 'checked' : nil %> ">
      <p>Yes</p>
      <input type='radio' name="account_trainers[group_training]" value='yes' <%= (@account_trainers['group_training'].present? && @account_trainers['group_training'] == 'yes') ? 'checked' : nil %> >
      </div>
      <div class="radio <%= (@account_trainers['group_training'].present? && @account_trainers['group_training'] == 'no') ? 'checked' : nil %>">
      <p>No</p>
      <input type='radio' name="account_trainers[group_training]" value='no' <%= (@account_trainers['group_training'].present? && @account_trainers['group_training'] == 'no') ? 'checked' : nil %> >
      </div>  
    </div>
  </div>
<div class="input_container">
    <label>Are you an affiliate for any products/services? Which ones?</label>
   
      <input type="text" name="account_trainers[affiliate]" placeholder="" value="<%= (@account_trainers['affiliate'].present?) ? @account_trainers['affiliate'] : '' ;%>">
      
   
  </div>
<div class="input_container">
    <label>Do you have a business website? List the url</label>
   
      <input type="text" name="account_trainers[url]" placeholder="" value="<%= (@account_trainers['url'].present?) ? @account_trainers['url'] : '' ; %>">
   
  </div>
<div class="input_container">
    <label>Do you train both men and women?</label>
    <div class="radio_button">
       <div class="radio <%= (@account_trainers['train_user_type'].present? && @account_trainers['train_user_type'] == 'yes') ? 'checked' : nil %>">
       <p>Yes</p>
       <input type='radio' name="account_trainers[train_user_type]" value='yes' <%= (@account_trainers['train_user_type'].present? && @account_trainers['train_user_type'] == 'yes') ? 'checked' : nil %>>
       </div>
        <div class="radio <%= (@account_trainers['train_user_type'].present? && @account_trainers['train_user_type'] == 'no') ? 'checked' : nil %>">
      <p>No</p>
      <input type='radio' name="account_trainers[train_user_type]" value='no' <%= (@account_trainers['train_user_type'].present? && @account_trainers['train_user_type'] == 'no') ? 'checked' : nil %>>
      </div>
    </div>
  </div>
<div class="input_container">
    <label>Do you do in home training?</label>
    <div class="radio_button">
       <div class="radio <%= (@account_trainers['home_training'].present? && @account_trainers['home_training'] == 'yes') ? 'checked' : nil %>">
      <p>Yes</p>
      <input type='radio' name="account_trainers[home_training]" value='yes' <%= (@account_trainers['home_training'].present? && @account_trainers['home_training'] == 'yes') ? 'checked' : nil %>>
      </div>
       <div class="radio <%= ( @account_trainers['home_training'].present? && @account_trainers['home_training'] == 'no') ? 'checked' : nil %>">
      <p>No</p>
      <input type='radio' name="account_trainers[home_training]" value='no' <%= ( @account_trainers['home_training'].present? && @account_trainers['home_training'] == 'no') ? 'checked' : nil %>>
      </div>
    </div>
  </div>
  <script>
$(function() {
    $('div.radio input[type="radio"]').click(Settings.check_radio);
});
</script>
