<div class="header">
    <div class="title">
        <h2>About</h2>
    </div>       
</div>
<div id="feed" class="group">
	<div class="post event">
        <div class="header">
            <div class="user">
           <% img = get_fit_img(@fitspot.id) %>
               <% if @fitspot.fitspot_image.present? %>
				 <div class="avatar"><%= image_tag(@fitspot.fitspot_image(:thumb)) %></div>
               <% else %>
               <div class="avatar"><%= image_tag(img) %></div>
               <% end %>
                <div class="data">                    
                    <h3 class="event"><%=  @fitspot.title.capitalize %> </h3>
                    <h3 class="location"><%=  @fitspot.location %></h3>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content">
	            <p></p><%=  @fitspot.description %><p></p>
	        </div>
        </div>       
    </div>
</div>

  
                 
        
