 <% if  @fitspots.present? %>
  <% @fitspots.each do |fs| %> 
  <% img =  get_fit_img(fs.id) %>
  
           <div class="posts">
             <div class="posts-img">
             <% if false %>
				 <% if fs.fitspot_image.present? %>
					<%= link_to(image_tag(fs.fitspot_image(:thumb)), "/fitspots/#{Base64.encode64(fs.id.to_s)}") %>
				 <% else %>
					<%= link_to(image_tag(img), "/fitspots/#{Base64.encode64(fs.id.to_s)}") %>
				  <% end %>
              <% end %>
              <div id="placeholder_<%= fs.id %>" style="height:100px;"></div>
						  <input class="sugfitpost" map_placeholder="placeholder_<%= fs.id %>"  type="hidden" value="<%=  fs.location %>"  size="90" />
                      
              </div>
             <div class="posts-content">
               <h4><%= link_to(fs.title.capitalize , "/fitspots/#{Base64.encode64(fs.id.to_s)}") %> <span class="time">    </span></h4>
               <p><%= fs.location %></p>
             </div>
             <div class="clear"></div>
           </div>         
           <% end %>
            
           <% else %>
  <h4 class="noti-heading">No Fitspots Found.</h4>
           <% end %>
  

