<%#= render(:partial => 'feed/feed_aside') %>
<div id="seed">
  <% if  @fitspots.present? %>
  <% @fitspots.each do |fs| %>
   <% img = fs.fitspot_image    %>
           <div class="posts">
             <div class="posts-img">
              <%= link_to(image_tag(img), "/fitspots/#{Base64.encode64(fs.id.to_s)}") %>
              </div>
             <div class="posts-content">
               <h4><%= link_to(fs.title.capitalize , "/fitspots/#{Base64.encode64(fs.id.to_s)}") %> <span class="time"> <%= fs.fitspot_date.strftime("%B %e ") %>  <%= fs.fitspot_time.present? ? 'at ' + fs.fitspot_time : '' %>   </span></h4>
               <p><%= fs.description %></p>
             </div>
             <div class="clear"></div>
           </div>
           <% end %>
           <% else %>
  <h4 class="noti-heading">No Event Found.</h4>
           <% end %>
  
</div>
