<div class="modal fade" id="fitspotEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="z-index: 5456666666000;">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit FitSpot </h4>
      </div>
      <div class="modal-body">


        <%= render(:partial => 'fitspots/edit') %>

      </div>
    </div>
  </div>
</div>

<div id="profile_header">
                    <div class="collage">
                        <div class="sub_collage">
                            <div class="square">
								<%= form_for( FitspotCover.new , :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_one", :onsubmit=>'return before_submit()'}) do |f| %>
								 <% if @account.id == @fitspot.account_id %>
								<span class="cover-icon"></span>
							  <input type="file" value="Change cover"  accept="image/*" id="cfone" class="cover_file" name="cover" title="(ideal image size : 159 X 250)" />
							   <input type="hidden" name="position" value=1>	
							    <input type="hidden" name="fit" value="<%= @fitspot.id %>">								
								 <% end %>
								 <% end %>
								<% img = get_fit_cover(1, @fitspot.id ) %>
								<div style="width:170px;height:166.8px;">							
								<input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_one">
								<%= image_tag(img.present? ? img.cover : '' , :id =>'position_one') %>
								
								</div>
								</div>
                            <div class="square">
								 <%= form_for( FitspotCover.new , :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_two", :onsubmit=>'return before_submit()'}) do |f| %>
								 <% if @account.id == @fitspot.account_id %>
								 <span class="cover-icon"></span>
							     <input type="file" value="Change cover" id="cftwo" accept="image/*" class="cover_file" name="cover" title="(ideal image size : 159 X 250)" />
							     <input type="hidden" name="position" value=2>	
							      <input type="hidden" name="fit" value="<%= @fitspot.id %>">								
								 <% end %>
								 <% end %>
								<% img = get_fit_cover(2, @fitspot.id) %>
								<div style="width:170px;height:166.8px;">
							
								<input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_two">
								<%= image_tag(img.present? ? img.cover : '' , :id =>'position_two') %>
							
							</div>
							</div>
                            <div class="landscape">
                             <%= form_for( FitspotCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_three", :onsubmit=>'return before_submit()'}) do |f| %>
								 <% if @account.id == @fitspot.account_id %>
							  <span class="cover-icon"></span>
							  <input type="file" value="Change cover" id="cfthree"  accept="image/*" class="cover_file" name="cover" title="(ideal image size : 350 X 150)" />
							   <input type="hidden" name="position" value=3>	
							    <input type="hidden" name="fit" value="<%= @fitspot.id %>">								
								 <% end %>
								 <% end %>
								 <% img = get_fit_cover(3, @fitspot.id) %>
								 <div style="width:345.6px;height:167.8px;">
								
								<input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_three">
								<%= image_tag(img.present? ? img.cover : '', :id =>'position_three') %>
								
								 </div>
								 </div>
                        </div>
                        <div class="sub_collage">
                            <div class="big_square">
                             <%= form_for( FitspotCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_four", :onsubmit=>'return before_submit()'}) do |f| %>
								 <% if @account.id == @fitspot.account_id %>
								 <span class="cover-icon"></span>
							  <input type="file" value="Change cover" id="cffour"  accept="image/*" class="cover_file" name="cover" title="(ideal image size : 350 X 300)" />
							   <input type="hidden" name="position" value=4>								
							   <input type="hidden" name="fit" value="<%= @fitspot.id %>">								
								 <% end %>
								 <% end %>
								 <% img = get_fit_cover(4, @fitspot.id) %>
								<div style="width:340.6px;height:340.6px;"> 
									
									<input type ="hidden" value="<%= img.present? ? img.position_offset : ''%>" id="offset_four">
									<%= image_tag(img.present? ? img.cover : '' , :id =>'position_four') %>
									
									</div>
								</div>
                            <div class="square">
								   <%= form_for( FitspotCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_five", :onsubmit=>'return before_submit()'}) do |f| %>
								 <% if @account.id == @fitspot.account_id %>
								 <span class="cover-icon"></span>
							  <input type="file" value="Change cover" id="cffive"  accept="image/*" class="cover_file" name="cover" title="(ideal image size : 175 X 150)" />
							   <input type="hidden" name="position" value=5>	
							    <input type="hidden" name="fit" value="<%= @fitspot.id %>">								
								 <% end %>
								 <% end %>
								 <% img = get_fit_cover(5, @fitspot.id) %>
								<div style="width:166.8px;height:166.8px;"> 
								 
									<input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_five"> 		
								<%= image_tag(img.present? ?img.cover : '' , :id =>'position_five') %>
							
								</div>
								</div>
                            <div class="square">
                              <%= form_for( FitspotCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_six", :onsubmit=>'return before_submit()'}) do |f| %>
								 <% if @account.id == @fitspot.account_id %>
								 <span class="cover-icon"></span>
							  <input type="file" value="Change cover" id="cfsix"  accept="image/*" class="cover_file" name="cover" title="(ideal image size : 175 X 150)" />
							   <input type="hidden" name="position" value=6>	
							    <input type="hidden" name="fit" value="<%= @fitspot.id %>">								
								 <% end %>
								 <% end %>
								 <% img = get_fit_cover(6, @fitspot.id) %>
								<div style="width:166.8px;height:166.8px;"> 
									
										<input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_six"> 
									<%= image_tag(img.present? ? img.cover : '' , :id =>'position_six') %>
								
								</div>
								</div>
                        </div>
                    </div>
                    <div class="profile_bar">
                        <div class="avatar">
						 <div id="map_canvas" style="height:100px;"></div>
						  <input id="geocomplete2" type="hidden" value="<%=  @fitspot.location %>" placeholder="Type in an address" size="90" />
                        </div>
                        <div class="profile_data">
                            <div class="personal_data">
                                <h1><%=  @fitspot.title.capitalize %> </h1>
                                 <% if @fitspot.account_id == @account.id %>
          <a href="javascript:void(0);" class="join" title="Following"><button>Following</button></a>    
          <a href="javascript:void(0)" data-toggle="modal" class="goal-btn" data-target="#fitspotEditForm" title="edit"><button>Edit</button></a>    

        <% elsif @going.present?  %>
          <a href="javascript:void(0);" class="join jnew"  data-type="cancel" title="Unfollow" data-id="<%=  Base64.encode64(@fitspot.id.to_s) %>"><button>Unfollow</button></a>
        <% else %>
          <a href="javascript:void(0);" class="join jnew"  data-type="add" title="follow" data-id="<%=  Base64.encode64(@fitspot.id.to_s)   %>"><button>Follow</button></a>
        <% end  %>
        
                                <p><%=  @fitspot.location %></p>
                            </div>
                            <div class="statistics">
                                <div><h1><%= fitspot_count(@fitspot.id) %></h1><h2>Checkins Today</h2></div>
                                <div><h1><%= @groups.count %></h1><h2>Groups Active</h2></div>
                            </div>
                        </div>
                        <div class="profile_nav">
                            <div class="actions">                                
                            <button data-toggle="modal" data-target="#checkinForm">Check-In</button>
                            <button style="visibility:hidden" disabled>Join Group</button>                       
                            </div>
                            <div class="nav">
                               <!-- <a class="selected" href="#fit_feed">Fit Feed</a> -->
                                <% cls = !params[:events].present? ? 'selected' : ''
                                   cls2 = params[:events].present? ? 'selected' : ''
                                 %>
                                <%= link_to('Fit Feed', fs_path(Base64.encode64(@fitspot.id.to_s), 'fit_feed'), :remote => true, :class => cls) %>
                                <%= link_to('About', fs_path(Base64.encode64(@fitspot.id.to_s), 'about'), :remote => true) %>
                                <%= link_to('Photos', fs_path(Base64.encode64(@fitspot.id.to_s), 'photos'), :remote => true) %>
                                <%= link_to('Videos', fs_path(Base64.encode64(@fitspot.id.to_s), 'videos'), :remote => true) %>
                                <%#= link_to('Activities', fs_path(Base64.encode64(@fitspot.id.to_s), 'activities'), :remote => true) %>
                                <%= link_to('Events', fs_path(Base64.encode64(@fitspot.id.to_s), 'events'), :remote => true , :class => cls2) %>
                                <%= link_to('Groups', fs_path(Base64.encode64(@fitspot.id.to_s), 'groups'), :remote => true) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="side_info">
                    <div class="events">
                        <div class="header">
                            <h2>Events</h2>
                          <%  event = event_invitation %>  
                            <a href="/fitspots/index" class="amount"> 
								<% if event.count > 0 %>
								<%= event.count  %>Invitations
								<% end %>                            
                            </a>
                            
                        </div>
                        <div class="list">
						
							<%  if event.present? %>  
							<%  event.each do |ft| %>
							<% img = ft.event.image    %>
								<div>
									<div class="avatar"><h3><%= image_tag(img) %></h3></div>
									<div class="description">
										<p class="date"><%= ft.event.event_date.strftime("%e %B ") %></p><br>
										<p class="event"><%= ft.event.title.capitalize  %></p><br>
										<p class="location"><%= ft.event.fitspot.location %></p><br>
										<p class="actions">
										<button class="attending" data-type="add" title="Attending"   data-id="<%=  Base64.encode64(ft.id.to_s)   %>"> 
										Attending</button>
									<span>|</span><button class="attending" data-type="not" title="Not Attending" data-id="<%=  Base64.encode64(ft.id.to_s)   %>">Not Attending</button></p>
									</div>
								</div>
								<% end %>
                            <% else %>
								<p> N/A </p>
                            <% end %>
                        </div>
                        <div class="see_all">
                            <%= link_to('See All Events', fs_path(Base64.encode64(@fitspot.id.to_s), 'events'), :remote => true) %>
                        </div>
                    </div>
                    <div class="my_activities">
                        <div class="header">
                            <h2>Activities</h2>
                        </div>
                        <div class="list">
                    <% if @fitspot.activity_ids.present? %>							
						   <%  @fitspot.activity_ids.each do |id| %>  
						        <div>
                                <div class="avatar activity <%= get_activity_name(id) %>"><h3></h3></div>
                                <div class="description">
                                    <p class="activity"><%= get_activity_name(id) %></p><br>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                            </div>
                        <div class="see_all">                           
                             <%#= link_to('See All', fs_path(Base64.encode64(@fitspot.id.to_s), 'activities'), :remote => true) %>
                        </div>
                    </div>
                    
                   <!-- <div class="groups">
                        <div class="header">
                            <h2>Group</h2>
                        </div>                  
                        <div class="list">
                            <div>
                                <div class="avatar">
									<a href="#">
										
										</a></div>
                                <div class="description">
                                    <p class="name"> </p><br>
                                </div>
                            </div>                                                       
                        </div>                        
                    </div> -->
                    
                </div>
                <div id="feed_container">
					<% if params[:events].present? %>
						<%= render(:partial => 'events') %>
					<% else %>	
					   	<%= render(:partial => 'fit_feed') %>
					<% end %>   	
    

<script type="text/javascript">
	$(function() {
   
    // add member
    $('.jnew').on('click', function() {
      var id = $(this).attr('data-id');
      var type = $(this).attr('data-type');

      var that = this;
      var mydata = {'id': id, 'type': type};
      $.ajax({
        type: "POST",
        url: '<%= add_del_going_path() %>', //sumbits it to the given url of the form
        dataType: "HTML",
        data: mydata,  
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function(data) {
          if (type == 'add') {

            $(that).attr('data-type', 'cancel');
            $(that).attr('title', 'Unfollow');
            $(that).children('button').html('Unfollow');
           // location.reload();
            //  $('.flash-message').html('<div class="alert alert-success"> You Succesfully Joined the Group.</div>').show();
          } else {
            $(that).attr('data-type', 'add');
            $(that).attr('title', 'Unfollow');
            $(that).children('button').html('follow');
            $('.flash-message').html('<div class="alert alert-success"> You Succesfully Unfollow Fitspot.</div>').show();
          }

        },
        error: function(xhr, ajaxOptions, thrownError) {
          $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
          console.log(thrownError)

        }

      });

    });
    
    // invite friend

    $('.invite').on('click', function() {
      var id = $(this).attr('data-id');
      var fid = $(this).attr('data-fid');

      var that = this;
      var mydata = {'account_id': id, 'fitspot_id': fid};
      $.ajax({
        type: "POST",
        url: '<%= invite_for_fitspot_path() %>', //sumbits it to the given url of the form
        dataType: "HTML",
        data: mydata, 
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function(data) {
          $(that).parent('li').slideUp('slow');
           $('.flash-message').html('<div class="alert alert-success"> Invitation sent succesfully.</div>').show();

        },
        error: function(xhr, ajaxOptions, thrownError) {
          $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
          console.log(thrownError)

        }

      });

    });
    
    // to update cover photo
    $('body').on('change','.cover_file', function() {
	var id = $(this).closest('form').attr('id');
	var field_id = $(this).attr('id');
	var imgs = $(this).parent().parent('div').children('div').children('img').attr('id');
	
    bf = before_submit_image(field_id);
    bf.then(function(){
		console.log('Resolve..')
		//=============
		$("#" + id).ajaxSubmit({			
	      type: "POST",
          url: '<%= fitspot_covers_path %>', //sumbits it to the given url of the form
          dataType: "HTML",
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
          success: function(data) {
            $('#'+imgs).attr('src' , data )
             $('#'+imgs).dragncrop('destroy');
				  $('#'+imgs).dragncrop({
				  //position: {offset: [ofone[0],ofone[1]]},
				  start: function(){  },
				  drag: function(event, position){  },
				  stop: function(e, position){
					  update_fitspot_cover_offset(position.offset,pid)
				  }
				});		 
         
          },
          error: function(xhr, ajaxOptions, thrownError) {
            $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
            console.log(thrownError)

          }

        }); 
		
		//===========
	}, function(){
		console.log('Reject..')
		return false;
	});
	
	
     
  });

$('#fit_chkin').on('click', function() {
		 var fitspot_id = "<%= @fitspot.id %>"   
		 var location = $('#location').val();  
		 	$.ajax({
				type: "POST",
				url: '/fitspot_check_in', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {fitspot_id:fitspot_id, location:location},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
					$('#checkinForm').modal('hide');
					window.location.reload();  	                                        },
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)					
				}	
			
			});
	    
}); // end of checkin

$(".nav a").click(function() {
    $(this).addClass('selected').siblings().removeClass('selected');

    });
    
    
      // add member
    $('.jgroup').on('click', function() {
      var id = $(this).attr('data-id');
      var type = $(this).attr('data-type');
      var gtype = $('.gtype').text();
     
      var that = this;
      var mydata = {'id': id, 'type': type, 'gtype' : gtype };
      $.ajax({
        type: "POST",
        url: '<%= add_del_member_path() %>', //sumbits it to the given url of the form
        dataType: "HTML",
        data: mydata,
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function(data) {         
          $(that).attr('data-type', 'add').attr('title', 'Joined group').html('Joined');       
      

        },
        error: function(xhr, ajaxOptions, thrownError) {
          $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
          console.log(thrownError)

        }

      });

    });
    var update_fitspot_cover_offset = function(position_offset ,position) {
	 
	 $.ajax({
          type: "POST",
          url: '<%= update_fitspot_cover_offset_path %>', //sumbits it to the given url of the form
          dataType: "HTML",
          data: {position_offset: position_offset, position: position,  fid:  <%= @fitspot.id %>},
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
          success: function(data) {
				console.log('success')
          },
          error: function(xhr, ajaxOptions, thrownError) {
          
            console.log(thrownError)

          }

        }); 
 }   
<% if @account.id == @fitspot.account.id %> 
var offset_six =  document.getElementById("offset_six"); 
if (offset_six != null) {
var ofsix  = offset_six.value.split(',');
} else {
var ofsix  = "" ;	
}	
$('#position_six').dragncrop({
  position: {offset: [ofsix[0],ofsix[1]]},
  start: function(){  },
  drag: function(event, position){  },
  stop: function(e, position){
	  update_fitspot_cover_offset(position.offset,6)
  }
}); 
 	  
 
var offset_five =  document.getElementById("offset_five"); 
if (offset_five != null) {
var offive  = offset_five.value.split(',')
}else {
var offive  = ""
}
$('#position_five').dragncrop({
  position: {offset: [offive[0],offive[1]]},
  start: function(){  },
  drag: function(event, position){  },
  stop: function(e, position){
	  update_fitspot_cover_offset(position.offset,5)
  }
}); 
 
var offset_four =  document.getElementById("offset_four"); 
if (offset_five != null) {
var of  = offset_four.value.split(',')
}else {
var of  = "";
}

$('#position_four').dragncrop({
  position: {offset: [of[0],of[1]]},
  start: function(){  },
  drag: function(event, position){  },
  stop: function(e, position){
	  update_fitspot_cover_offset(position.offset,4)
  }
});

var offset_three =  document.getElementById("offset_three"); 
if (offset_three != null) {
var ofthree  = offset_three.value.split(',')
}else {
var ofthree  = "";
}

$('#position_three').dragncrop({
  position: {offset: [ofthree[0],ofthree[1]]},
  start: function(){  },
  drag: function(event, position){  },
  stop: function(e, position){
	  update_fitspot_cover_offset(position.offset,3)
  }
});
var offset_two =  document.getElementById("offset_two"); 
if (offset_two != null) {
var oftwo  = offset_two.value.split(',')
} else {
var oftwo  = ""	
}
$('#position_two').dragncrop({
  position: {offset: [oftwo[0],oftwo[1]]},
  start: function(){  },
  drag: function(event, position){  },
  stop: function(e, position){
	  update_fitspot_cover_offset(position.offset,2)
  }
});

var offset_one =  document.getElementById("offset_one"); 
var ofone = "";
if (offset_one != null) {
 ofone  = offset_one.value.split(',')
}

console.log(ofone[0])
console.log(ofone[1])
$('#position_one').dragncrop({
  position: {offset: [ofone[0],ofone[1]]},
  start: function(){  },
  drag: function(event, position){  },
  stop: function(e, position){
	  update_fitspot_cover_offset(position.offset,1)
  }
});
<% else %>

var offset_six =  document.getElementById("offset_six"); 
var ofsix  = "" ;	
if (offset_six != null) {
var ofsix  = offset_six.value.split(',');
}
$('#position_six').dragncrop({
  position: {offset: [ofsix[0],ofsix[1]]}
}); 
 	  
 
var offset_five =  document.getElementById("offset_five"); 
var offive = ""
if (offset_five != null) {
var offive  = offset_five.value.split(',')
}
$('#position_five').dragncrop({
  position: {offset: [offive[0],offive[1]]}
}); 
 
var offset_four =  document.getElementById("offset_four"); 
var of = ""
if (offset_four != null) {
var of  = offset_four.value.split(',')
}
$('#position_four').dragncrop({
  position: {offset: [of[0],of[1]]}
});

var offset_three =  document.getElementById("offset_three"); 
var ofthree =""
if (offset_three != null) {
var ofthree  = offset_three.value.split(',')
}
$('#position_three').dragncrop({
  position: {offset: [ofthree[0],ofthree[1]]}
});
var offset_two =  document.getElementById("offset_two"); 
var oftwo  = ""
if (offset_two != null) {
var oftwo  = offset_two.value.split(',')
}
$('#position_two').dragncrop({
  position: {offset: [oftwo[0],oftwo[1]]}
});

var offset_one =  document.getElementById("offset_one"); 
var ofone  = "";
if (offset_two != null) {
var ofone  = offset_one.value.split(',')
}
$('#position_one').dragncrop({
  position: {offset: [ofone[0],ofone[1]]}
  });
<% end %>

});

window.onload = function() {	
		    $("#geocomplete2").geocomplete({ map: "#map_canvas"})	
          $("#geocomplete2").trigger("geocode");
        }

</script>

<!-- events-->

<div class="modal fade" id="eventForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Event on : <%= @fitspot.title  %></h4>
      </div>
      <div class="modal-body">
		<%= render(:partial => 'events/newevent') %>
    </div>
  </div>
</div>
</div>




<!-- check in -->

<div class="modal fade" id="checkinForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Check In : <%= @fitspot.title.capitalize %></h4>
      </div>
      <div class="modal-body">
        <div class="pop-row listing-hover row">          
      
            <div class="col-md-12">
             <label> Type Location: </label>
             <input class="form-control" type="text" id="location"  name="search" value="<%=  @fitspot.location %>" >
             </div>             
             </div>
              <div class="pop-row listing-hover row">   
               <div class="col-md-12">
              
       </div>
    </div>
    <div class="modal-footer create">
		<button type="button" id="fit_chkin" class="btn btn-primary">Check In</button>
	  </div>
</div>
</div>
</div>

</div>



