<script>
function filldata(that){
 var abc ='';
 if ($(that).parent().attr('class')=='arport') {
    var abc = $('.posttext').val().split(" ").pop();  
    var abc = $('.posttext').val().replace(abc,'');   
     $('.posttext').val( abc +' @'+ $(that).attr('data-name') + $(that).attr('data-last')); 
     var str = "<span class='hashtag'> @" + $(that).attr('data-name') + + $(that).attr('data-last') +"</span>";
     $('.posttext').parent().parent().find(".highlighter").append(str); 
      globalVariable.push({
          key:   $(that).attr('data-name'),
          value: $(that).attr('data-username')
      });
  
    $('.arport').fadeOut('slow');
    $('.posttext').focus();
 } else {
	   abc = $(that).parent('.arport2').parent('.add_comment').find('.comment').val().split(" ").pop();
      //abc = $(that).parent('.arport2').parent('.add_comment').find('.comment').val().replace(/(@\S+)/gi,'');            
      abc = $(that).parent('.arport2').parent('.add_comment').find('.comment').val().replace(abc,'');            
     $(that).parent('.arport2').parent('.add_comment').find('.comment').val( abc + ' @' + $(that).attr('data-name') + $(that).attr('data-last')); 
          var str = "<span class='hashtag'> @" + $(that).attr('data-name') +  $(that).attr('data-last') +"</span>";
     $(that).parent('.arport2').parent('.add_comment').find(".highlighter").append(str); 
      globalVariableforComment.push({
          key:   $(that).attr('data-name'),
          value: $(that).attr('data-username')
      });
    $('.arport2').fadeOut('slow');
    $(that).parent('.arport2').parent('.add_comment').find('.comment').focus();
   
 }
   }
 </script>  
		<% if @user.present? %>
		
			<%  @user.each do |abc| %>
			<li class="trainers" onclick="javascript:filldata(this)"  datacid="<%= Base64.encode64(abc.id.to_s) %>" data-name="<%= abc.first_name.capitalize %>" data-last="<%= abc.last_name.present? ? abc.last_name.capitalize : ''  %>" data-username="<%= '@' + Base64.encode64(abc.id.to_s) %>">
				<div class="column_header">
				<div class="imageRound">
				 <% img = useravatar(abc) %>
				  <%= image_tag(img, alt: abc.first_name[0]) %>	  			    
					  
				</div>
				<div class="name">
                                </h3><% if abc.user_type == 2 %>
				Trainer
				<% elsif abc.user_type == 3 %>	
				Gym
				<% else %>
				User
				<% end %>
				 <%=  abc.id == @account.id ? '(me)' : '' %></h3>
				
				<% if abc.user_type == 3 %>
					<h4> <%= abc.account_gym.name.present? ? abc.account_gym.name : abc.first_name  %></h4>
				<% else %>
					<h4><%= abc.first_name %> <%= abc.last_name.present? ? abc.last_name : '' %></h4>
				<% end %>	
                                       
                                       
				</div>
				<div class="clear"></div>
				</div>
			</li>
	<% end %>	
	<% else %>
	<p class="notification-msg"> No user found </p>	
	<% end %>		
		
