<%= javascript_include_tag "inline_edit" %>
<div class="events">
<div class="ad-btn">
</div>	
<div class="conver-area">

	
	<div class="conver-right msg-right msg-noborder">
		
<div class="notification_menu">
  <div id="notifications_nav"><a class="goal-btn" href="<%= challenge_path() %>" >Challenges </a>
    <span style="float:right;"><a style="width:auto;margin-right:10px;" class="goal-btn" href="<%=  challenges_show_path %> " >Manage Teammate Challenges</a></spa>
    <span style="float:right"><a style="width:auto;" class="goal-btn" href="javascript:void(0)" data-toggle="modal" data-target="#challengeForm">New Challenge</a></spa></div>

</div>
<div id="conv">
  <% if @allchallenge.present? %>

    <ul class="chating show-challanges">
      <% @allchallenge.each do |message|
         @type = self_or_other(message) 
   
        if message.status!='reject' || @type =='self' 
        %>


          

          <li class="<%= @type %> profile_data" id="<%= message.id %>">
    <% 	@receiver = interlocutor(message) %>
            <div class="chat-left">
              <div class="img-area">
              <div class="imageRound">
              <% img = useravatar(message.recipient) %>
              <%= image_tag(img) %>
              </div>
              <h2>
               <%= link_to("<h3>#{message.recipient.first_name} </h3>".html_safe, "/#{message.recipient.user_name}") %>
              </h2>
               </div>
              <span class="ver"><%= image_tag('global/vs.png') %> </span>
              <div class="img-area">
              <div class="imageRound">
                <% img = useravatar(message.sender) %>
                <%= image_tag(img) %>
              </div>
                 <h2>
               <%= link_to("<h3>#{message.sender.first_name} </h3>".html_safe, "/#{message.sender.user_name}") %>
              </h2>
                </div>
              </div>
            <div class="chatboxmessagecontent user-name">
              
              <div class="detail-box"><span>Challenge:</span><p class="challenge-text"><%= message.text %></p></div>
              <div class="detail-box detail-inner"><span><%= message.category.name %>:</span><p><%= message.qty %></p></div>
              <div class="detail-box detail-inner"><span>Reward Points:</span><p><%= message.reward_points %></p></div>
             <!-- <div class="detail-box detail-inner"><span>Status:</span><p class="newstatus">
                   <%# if message.status=='reject' or message.status=='accept' %>
                  <%#=  message.status.capitalize + 'ed' %>
                  <%# else %>
                    <%#=  message.status.capitalize %>
                  <%# end %>
          
                </p></div> -->
                  
              <% challengeid =  Base64.encode64(message.id.to_s) %>
                 
       
            </div>
              
  
                        <span class="chat-time">
                <time>
                 Target Date: <%= message.valid_till.present? ? message.valid_till.strftime("%d %b %Y at %I:%M%p") : message.created_at.strftime("%d %b %Y at %I:%M%p") %>
                </time>
              </span>
              <div class="detail-box show-inner">
                  <% sel = {'Select Winner' =>'' , message.recipient.first_name =>message.recipient.id, message.sender.first_name =>message.sender.id} %>
<%= select_tag(:winner, options_for_select(sel, message.winner_id), { :data_id => challengeid, :class=>"winner" } ) %>
</p></div>
          </li> 	


        <% end %>
      <% end %>
    </ul>
    <%= will_paginate @allchallenge, :renderer => BootstrapPagination::Rails %>
  <% else %>
 
 
         <h4 class="noti-heading">No Challenge set yet. You can create new challenge by clicking 'New Challenge' link above.</h4>
       
  
  <% end %>
</div>
<div class="modal fade" id="challengeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Challenge</h4>
      </div>
      <div class="modal-body">
        <div class="pop-row listing-hover">
          <label>To:</label>
          <input class="form-control" type="text" id="tags" value="" name="search" placeholder="search...">
          
            <ul class="arport" style="display:none;">
            
               
            </ul>
        </div>
        
 	<%= render(:partial => 'challenges/challenge') %>
      </div>
      <div class="modal-footer">
        <button type="button" id="challenge" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
 

  
  $('#conv').on('change', '.winner', function() {
    var account_id = $(this).val();
    var cid = $(this).attr('data_id');
    if (account_id == '') {
      return false;
    }
    console.log(account_id +'/'+ cid)
    if (confirm("Do you really want to declare winner ?")) {
      $.ajax({
        type: "POST",
        url: '<%= updaterewardpoints_path %>', //sumbits it to the given url of the form
        dataType: "HTML",
        data: {cid: cid, account_id: account_id},
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function(data) {
          //$('#' + data).fadeOut('slow');


          $('.flash-message').html('<div class="alert alert-success"> Record updated succesfully.</div>').show();
        },
        error: function(xhr, ajaxOptions, thrownError) {
          $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
          console.log(thrownError)

        }

      });
    }
  });


</script>
	</div>
  </div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
