<div class="events">
<div class="ad-btn">
</div>	
<div class="conver-area">

	
	<div class="conver-right msg-right">
<div class="notification_menu">
  <div id="notifications_nav">Edit Chalanges</div>

</div>
       
<%= form_for( @goal,  :url => goals_edit_path, :html => {id: "goal_form"}) do |f| %>
         
	<% gspecial = Goal.all.map{|x| [x.name] + [x.id]} %>
            
<div class="pop-row">
  <label>Category:</label>
	 <%= select_tag("account_goal[goal_id]", options_for_select(gspecial)) %>
 </div>
<div class="pop-row">
 <%= f.label :text, 'Quantity:' %>
	<%= f.text_field :qty, class: " form-control" %>
  </div>
<div class="pop-row">
	 <%= f.label :text, 'Description:' %>
  <%= f.text_area :text, class: "boxtextarea form-control" %>
</div>
<div class="pop-row pop-last">
  <label>Till Date:</label>
  <input class="form-control" type="text" value="<%= @goal.valid_till.strftime("%d %b %Y")  %>  " readonly name="account_goal[valid_till]" id="datepicker">
  <input type="hidden" name="id" value="<%= Base64.encode64(@goal.id.to_s) %> ">
  </div>

<%= f.submit 'Update Goals',:class => "btn btn-primary" %>
<% end %> 
</div>
  </div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
