

<%= form_for :review ,:url =>  reviews_creat_url ,  :html => {   :id=> "review_form"} do |f| %>
	

<div class="pop-row">
 <%= f.label :text, 'Review' %>
	<%= f.text_area :review, class: "boxtextarea form-control", maxlength: 50 %>
  </div>

<%=  f.hidden_field :gym_id,  :value => Base64.encode64(@profileuser.id.to_s) %>
  
      <div class="modal-footer">
       <%= f.submit  'Submit',  :name => 'submit', :class =>'btn btn-primary' %>
      </div>

<% end %> 

 
