<% if @gym_class.present? %>
			<% @gym_class.each do |gc| %>
				<div class="class">
					<div>
						<div><div class="avatar activity spinning"><h3></h3></div></div>
						<div>
							<h2><%= gc.specialty.name %> @ <%= gc.class_time %> <span><%= gc.duration %> Min</span></h2><br>
							<p>With <a href=""><%= gc.trainer.first_name.capitalize %> <%= gc.trainer.last_name.present? ? gc.trainer.last_name.capitalize : '' %></a></p>
						</div>
					</div>
					<div class="stat">
						<div class="spots">
							<div class="radial-progress" data-progress="50"> <!-- For data-progress, (occupied spots)/max)*100  -->
								<div class="circle">
									<div class="mask full">
										<div class="fill"></div>
									</div>
									<div class="mask half">
										<div class="fill"></div>
										<div class="fill fix"></div>
									</div>
									<div class="shadow"></div>
								</div>
								<div class="inset">
									<div class="percentage">
										<div class="numbers"><p><span class="count" data-count="5"></span><span class="max" data-count="10"><%= gc.total_slot %></span></p></div>
									</div>
								</div>
							</div>
							<p class="label">Spots</p>
						</div>
						<!--<div class="action"><button class="add">+</button></div>-->
					</div>
					<div class="roster">
						<div class="list">
						<% if gc.class_attendance.present? %>
							<% i = 0 %>
							<% gc.class_attendance.each do |usr| %>
							
							<div>
								<div class="gymnast">
									<div class="position"><p>	<%= i =+1 %>.</p></div>
				                    <div class="avatar">
										<% img = useravatar(usr.account) %>
										<%= image_tag(img) %>
																				</div>
				                    <div class="name"><p><%= usr.account.first_name.capitalize %> <%= usr.account.last_name.present? ? usr.account.last_name : '' %></p></div>
								</div>
								<div class="actions">
									<button class="remove" data-id="<%= Base64.encode64(usr.id.to_s) %> ">Remove</button>
									<button class="change">Change</button>
								</div>
							</div>
							<% end %>
							<% else %>
							<h4 class="noti-heading"> No Records Found</h4>
							<% end %>
							
						</div>
						<div class="view"><p>View Class Roster</p></div>
					</div>
					
				</div>
				<% end %>
				<% else %>
				<h4 class="noti-heading">No classes available.</h4>
				<% end %>
