<div class="profile_about_view">
  <div class="profile_data profile_new">
    <div class="profile_about">
      <div class="head_box header">
        <h2>About</h2>
      </div>
      <div class="about">
       <% if @profileuser.user_type.to_i != 3 %>
       <% @privacy = nil %>
       <% if @profileuser.account_privacy.present? %>
			<% if @profileuser.account_privacy.account_id!=@account.id  %>
				<% @privacy = @profileuser.account_privacy %>
		   <% end %>
       <% end %>
        <ul class="personal">
           
         <li class="user"><%= @profileuser.user_name %><% if @profileuser.account_url.present? %> at <%= link_to("<span>#{@profileuser.account_url}</span>".html_safe, @profileuser.account_url, :target => "_blank") %> <% else %>  <% end %></li>
       
           <li class="relation">Relationship Status: <% if @profileuser.relationship_id.present? %> <%= get_relationship_name(@profileuser.relationship_id) %> <% else %> N/A <% end %></li>
          <li class="fitness">Fitness Goals: 
          <% if @profileuser.goals.present? %>
           <%= @profileuser.goals.map{|goal| get_goal_name(goal)}.join(", ") %>
<%#= link_to('<span>Staying in Shape</span>'.html_safe, '') %>
            <% else %>
            N/A
            <% end %>
          
          </li>
          <% if !@privacy.present?  %>
         
           <li class="location">Lives in: <%= usr.user_location.present? ? usr.user_location : "N/A" %>
           </li>
            <li class="works">Works out at: <% if @profileuser.gym_id.present? %>  <%= link_to("<span>#{get_gym_name(@profileuser.gym_id)}</span>".html_safe, '/' + get_user_name(@profileuser.gym_id)) %> <% else %> N/A <% end %></li>
           <li class="birday">Birthday: <%=  (@profileuser.dob.present?) ? @profileuser.dob.to_s(:myformat) : 'N/A' %> </li>
            <li class="email">Email: <%=  (@profileuser.email.present?) ? @profileuser.email : '' %></li> 
             <li class="mobile">Mobile: <%=  (@profileuser.mobile.present?) ? @profileuser.mobile : 'N/A' %></li>
            <% else %>
       
                <% if @privacy.location.present? &&  @privacy.location==true  %>
				 <li class="location">Lives in: <%= @profileuser.user_location.present? ? @profileuser.user_location : "N/A" %>
                    <% end %>
                <% if @privacy.work.present? &&  @privacy.work==true  %>
				  <li class="works">Works out at: <% if @profileuser.gym_id.present? %>  <%= link_to("<span>#{get_gym_name(@profileuser.gym_id)}</span>".html_safe, '/' + get_user_name(@profileuser.gym_id)) %> <% else %> N/A <% end %></li>
				<% end %>
                <% if @privacy.birthday.present? &&  @privacy.birthday==true  %>
				  <li class="birday">Birthday: <%=  (@profileuser.dob.present?) ? @profileuser.dob.to_s(:myformat) : 'N/A' %> </li>
				<% end %>
				<% if @privacy.email.present? &&  @privacy.email==true  %>
					<li class="email">Email: <%=  (@profileuser.email.present?) ? @profileuser.email : 'N/A' %></li> 
				<% end %>
				<% if @privacy.mobile.present? &&  @privacy.mobile==true  %>
				  <li class="mobile">Mobile: <%=  (@profileuser.mobile.present?) ? @profileuser.mobile : 'N/A' %></li>
				<% end %>
				
             <% end %>
        
          </ul>
          <% else %>
         <% if @profileuser_gyms.name.present? %>
          <ul class="personal personal-new">
           <li> Gym Name : <%=  @profileuser_gyms.name %></li>
           <li>Address :<% @profileuser_gyms.address.each { |x|  %>
			<%= x %> 
			<% } %>
           </li>
              <li>Speciality : <%= @profileuser_gyms.specialties.map{|specl| get_specialty_name(specl)}.join(", ") %> </li>
              <li>Group Classes : <%= @profileuser_gyms.groupclasses.map{|specl| get_specialty_name(specl)}.join(", ") %> </li>
              <li>Amenities : <%= @profileuser_gyms.amenities.map{|am| get_amenity_name(am)}.join(", ") %> </li>
             <!-- <li>Timings: </li>
               <li>Sunday: From  <%= @profileuser_gyms.timings['sunday_start']; %> To <%= @profileuser_gyms.timings['sunday_end']; %> </li>
               <li>Monday: From  <%= @profileuser_gyms.timings['monday_start']; %> To <%= @profileuser_gyms.timings['monday_end']; %> </li>
               <li>Tuesday: From  <%= @profileuser_gyms.timings['tuesday_start']; %> To <%= @profileuser_gyms.timings['tuesday_end']; %> </li>
               <li>Wednesday: From  <%= @profileuser_gyms.timings['wednesday_start']; %> To <%= @profileuser_gyms.timings['wednesday_end']; %> </li>
               <li>Thruesday: From  <%= @profileuser_gyms.timings['thrusday_start']; %> To <%= @profileuser_gyms.timings['thrusday_end']; %> </li>
               <li>Friday: From  <%= @profileuser_gyms.timings['friday_start']; %> To <%= @profileuser_gyms.timings['friday_end']; %> </li>
               <li>Saturday: From  <%= @profileuser_gyms.timings['saturday_start']; %> To <%= @profileuser_gyms.timings['saturday_end']; %> </li> -->
                 </ul>
               <% end %>
           <% end %>
           
           
     
        
        
      
        <!--<ul class="about_me">
          <h2>About Me</h2>
          <p>I am the league’s only five-time MVP and a 13-time 
            Pro Bowler. I stand alone as the active leader in nearly 
            every statistical passing category. I own many NFL 
            records including the 2nd most wins (154), passing TDs 
            (436), completions (5,082) and attempts  (7,793) by a 
            quarterback in NFL history, while ranking third with 
            59,487 career passing yards. In my 12 seasons I’ve 
            thrown for more than 4,000 yards and 14 campaigns 
            with 25-plus touchdown passes rank first in league 
            annals along with his 72 games with 300-plus yards 
            & 73 contests throwing for at least three touchdowns.
          </p>
            <% if @trainer_details.present? %>
            <p> <%= (@trainer_details.workout_tips.present?) ? @trainer_details.workout_tips.map{|tips| tips}.join(" , ") : ''; %></p>
            <p> <%= (@trainer_details.certificates.present?) ? @trainer_details.certificates.map{|certificate| certificate}.join(" , ") : '' ;%></p>
            <% end %>
        </ul> -->
      </div>
    </div>
	</div>
</div>
 <% if @profileuser.user_type ==1 || @profileuser.user_type ==2 %>   
 <div class="profile_analytics">
      <div class="fitpoints">
        <div class="a_header">
          <h3>Reward Points</h3>
        </div>
        <div class="data">
          <div>
            <h4>Total</h4>
            <h2><%= @profileuser.reward_points.present?  ? @profileuser.reward_points - (@profileuser.reward_points_lost.present? ? @profileuser.reward_points_lost : 0 ): @profileuser.reward_points_lost.present? ? ' -' + @profileuser.reward_points_lost.to_s : 0   %></h2>
          </div>
          <div>
            <h4>Earned</h4>
            <h2><%= @profileuser.reward_points.present? ? @profileuser.reward_points : '0' %></h2>
          </div>
          <div>
            <h4>Lost</h4>
            <h2><%= @profileuser.reward_points_lost.present? ? @profileuser.reward_points_lost : '0' %></h2>
          </div>
        </div>
      </div>
      <div class="challenges">
        <div class="a_header">
          <h3>Challenges</h3>
       
        </div>
        <div class="data">
          <div>
            <h4>Total</h4>
            <h2><%= @allchalenge.present? ? @allchalenge : '' %></h2>
          </div>
          <div>
            <h4>Expire</h4>
            <h2><%= @chal.present? ? @chal : ''  %> </h2>
          </div>
          <div>
            <h4>Active</h4>
            <h2><%=  @allchalenge.present? ? @allchalenge - @chal : '' %></h2>
          </div>
        </div>
      </div>
      <div class="fitbit">
        <div class="a_header">
          <h3>FitBit</h3>
       
        </div>
        <div class="data">
          <div>
            <h4>Steps</h4>
            <h2><%= @profileuser.fitbit.present? ? number_to_human(@profileuser.fitbit.steps , :format => '%n%u', :units => { :thousand => 'K' }) : '0'  %> </h2>
          </div>
          <div>
            <h4>Calories</h4>
            <h2><%= @profileuser.fitbit.present? ? number_to_human(@profileuser.fitbit.summary_calories , :format => '%n%u', :units => { :thousand => 'K' }) : '0'  %></h2>
          </div>
          <div>
            <h4>Distance</h4>
            <h2><%= @profileuser.fitbit.present? ? @profileuser.fitbit.distance : '0'  %><span>M</span></h2>
          </div>
        </div>
      </div>
    <!--  <div class="gym">
        <div class="a_header">
          <h3>Gym</h3>
          <% link_to('See Gym', '/') %>
        </div>
        <div class="data">
          <div>
            <h4>Check Ins</h4>
            <h1>120</h1>
          </div>
          <div>
            <h4>This Month</h4>
            <h1>15</h1>
          </div>
          <div>
            <h4>This Week</h4>
            <h1>3</h1>
          </div>
        </div>
      </div>
    </div> 
  </div> -->
</div>
    <% end %>
