<div class="profile_photos_view">
  <div class="event-indication">
    
    <div class="event-box">
      <span class="event-color" style="background:#2a6496;"></span>
      <p>New Event</p>
    </div>
    <div class="event-box">
      <span class="event-color" style="background:#2f8352;"></span>
      <p>Approved</p>
    </div>
    <button id="thisisit" >Create New Appointment</button>
  </div>

  <div id="calendar"></div>
  

  <div class="modal fade" id="createUserEventModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content hideMe" id="ActionHeader">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"><b id="SelectedEventFullTitle"></b> <span>Event</span></h4>
          <br />
          <h4 class="modal-title"><b>Title:</b> <span id="SelectedUserEventTitle"></span></h4>
          <h4 class="modal-title"><b>Description:</b> <span id="SelectedUserEventDesc"></span></h4>

        </div>
        <div class="modal-body">
          <div class="col-xs-12 text-center">
            <button type="button" id="EditEvent" class="btn btn-primary">Edit Appointment</button>
            <button type="button" id="RemoveUserEvent" class="btn btn-default btn-danger">Remove Event</button>
            <button type="button" style="display:none;" id="ApproveUserEvent" class="btn btn-primary">Approve Event</button>
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal" id="cncl">Cancel</button>
          </div>  
          <div class="clear"></div>
        </div>
      </div>   
      <div class="modal-content hideMe" id="EventEditFormSection" style="display: none">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"><span id="actionTitle">Create New </span><b id="SelectedEventTitle"></b> <span>Appointment</span></h4>
        </div>

        <div class="modal-body">
          <!-- The form is placed inside the body of modal -->
          <form id="createUserEventForm" method="post" class="form-horizontal">
            <input type="hidden" value="<%= @account.id %>" name="user_event[account_id]" />
            <input type="hidden" value="<%= @profileuser.id %>" name="user_event[trainor_id]" />
            <input type="hidden" id="newUserEventId" value="0" name="user_event[id]" />
            <input type="hidden" id="newUserEventEventId" value="0" name="user_event[event_id]" />
            <input type="hidden" id="newUserEventStartDate" value="" name="user_event[start_date]" />
            <input type="hidden" id="newUserEventEndDate" value="" name="user_event[end_date]" />
            <div class="form-group">
              <label class="col-xs-3 control-label">Title:</label>
              <div class="col-xs-9">
                <input type="text" class="form-control" id="newUserEventTitle" name="user_event[title]" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label">Description:</label>
              <div class="col-xs-9">
                <textarea class="form-control" id="newUserEventDescription" name="user_event[description]"></textarea>
              </div>
            </div>
            <div class="form-group" id="when">
              <label class="col-xs-3 control-label when">When:</label>
              <div class="col-xs-9" >
               <span class="newUserEventStartDate"></span>
              </div>          
            </div>
            <div id="text_id" style="display:none">
				 <div class="form-group">
				  <label class="col-xs-3 control-label">Start:</label>             
				  <div class="col-xs-9" >
					  <div class="row">
						  <div class="col-xs-6"><input id="mydate" class="form-control" name="event_date" readonly placeholder="select start date"> </div>  
						  <div class="col-xs-6"><input class="form-control" placeholder="select start time" id="timepicker" name="event_time" > </div>
					  </div>	  
					  </div>	  
				</div>
				
				 <div class="form-group">
				  <label class="col-xs-3 control-label">End:</label>
				   <div class="col-xs-9">
					   <div class="row">
						  <div class="col-xs-6"><input class="form-control" id="end_date" name="event_date" readonly placeholder="select end date"> </div>   
						  <div class="col-xs-6"><input class="form-control" placeholder="select end time" id="timepicker2" name="event_end_time" > </div>
						</div>  
					</div>  
				</div>
            </div>
            
            <div class="form-group">
              <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-warning close-modal" data-dismiss="modal" id="svcancel">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-content hideMe" id="RemoveUserEventSection" style="display: none">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="WarningMsg">Are you sure, you want to delete this event?</h4>
        </div>

        <div class="modal-body">
          <!-- The form is placed inside the body of modal -->
          <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
              <button type="button" id="WarningYesUserEvent" class="btn btn-primary">Yes</button>
              <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
        <br />
        <div class="clear"></div>
      </div>
    </div>
  </div>
  
  <!-- new form -->
  
    <div class="modal fade" id="createUserAppModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
           <div class="modal-content hideMe" id="EventEditFormSection" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"><span id="actionTitle">Create New </span><b id="SelectedEventTitle"></b> <span>Appointment</span></h4>
        </div>

        <div class="modal-body">
          <!-- The form is placed inside the body of modal -->
          <form id="createUserEventForm" method="post" class="form-horizontal">
            <input type="hidden" value="<%= @account.id %>" name="user_event[account_id]" />
            <input type="hidden" value="<%= @profileuser.id %>" name="user_event[trainor_id]" />
            <input type="hidden" id="newUserEventId" value="0" name="user_event[id]" />
            <input type="hidden" id="newUserEventEventId" value="0" name="user_event[event_id]" />
       
            <input type="hidden" id="newUserEventStartDate" value="" name="user_event[start_date]" />
            <input type="hidden" id="newUserEventEndDate" value="" name="user_event[end_date]" />
            <div class="form-group">
              <label class="col-xs-3 control-label">Title:</label>
              <div class="col-xs-9">
                <input type="text" class="form-control" id="newUserEventTitle" name="user_event[title]" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label">Description:</label>
              <div class="col-xs-9">
                <textarea class="form-control" id="newUserEventDescription" name="user_event[description]"></textarea>
              </div>
            </div>
             <div class="form-group">
              <label class="col-xs-3 control-label">When:</label>
              <div class="col-xs-9">
               <span class="newUserEventStartDate"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-warning close-modal" data-dismiss="modal" id="svcancel">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
  
  
  <!-- end -->

</div>
<style>
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
</style>
<script>
	$('#timepicker').timepicker({
		defaultTime : 'now',		
        });
     $('#timepicker').on("change", function(){
		 var element = $(this).val();
		 var ele =element.replace("am", "").replace("pm", "")
		 console.log(element);
         $("#timepicker2").timepicker('option','min',element);
		var date = $("#mydate").val();
        var time = ele;
        var dateObj = date;
         if (time != "") {
		     dateObj = new Date(date + ' ' + ele);	
		 }	
	    var new_date = moment(dateObj).format();
	    $("#newUserEventStartDate").val(new_date);	 
           
           
	});
	   
	$('#timepicker2').timepicker();
	    $('#timepicker2').on("change", function(){
		 var element = $(this).val();
		 var ele =element.replace("am", "").replace("pm", "")
		var date = $("#end_date").val();
        var time = ele;
        var dateObj = date;
         if (time != "") {
		     dateObj = new Date(date + ' ' + ele);	
		 }	
	    var new_date = moment(dateObj).format();
	    $("#newUserEventEndDate").val(new_date);	 
           
           
	});
	
		
   		

	$("#mydate").datepicker( {
	defaultDate: new Date(),
	minDate: 'today',
    dateFormat: 'mm/dd/yy',
	 onSelect: function(dateText, inst) {
		$("#end_date").datepicker("option", "minDate", dateText);  
        var date = $(this).val();
        var time = $("#timepicker").val();
        var dateObj = date;
         if (time != "") {
			 var timeString = time.replace("am", "").replace("pm","");
		     dateObj = new Date(date + ' ' + timeString);	
		 }	
	    var new_date = moment(dateObj).format();
	    $("#newUserEventStartDate").val(new_date);
	   
       
	}
}).datepicker("setDate", new Date());

$("#end_date").datepicker( {
	defaultDate: new Date(),
	minDate: 'today',
    dateFormat: 'mm/dd/yy',
	 onSelect: function(dateText, inst) {
        var date = $(this).val();
        var time = $("#timepicker2").val();
        var dateObj = date;
         if (time != "") {
			 var timeString = time.replace("am", "").replace("pm","");
		     dateObj = new Date(date + ' ' + timeString);	
		 }	
	    var new_date = moment(dateObj).format();
	    $("#newUserEventEndDate").val(new_date);
	   
       
	}
}).datepicker("setDate", new Date());

$('#thisisit').click(function() {	  
	 <% if @profileuser.user_type == 2  %>      
	    var CurrentDate = moment().add(4, 'hours');
	     $('.hideMe').hide();
        $('#EventEditFormSection').slideDown(); 
        $('.newUserEventStartDate').hide(); 
        $('#when').hide(); 
        
        var time = $("#timepicker").val();
        var time2 = $("#timepicker2").val();
        
        var date = $("#mydate").val();
        var date2 = $("#end_date").val();
         var dateObj = date;
         if (time != "") {
			 var timeString = time.replace("am", "").replace("pm","");
		     dateObj = new Date(date + ' ' + timeString);	
		 }	
		  var new_date = moment(dateObj).format();
		  
		 var dateObj2 = date2;
         if (time != "") {
			 var timeString = time2.replace("am", "").replace("pm","");
		     dateObj2 = new Date(date + ' ' + timeString);	
		 }	
		  var new_date2 = moment(dateObj2).format(); 
             
        $('#newUserEventStartDate').val(new_date);
        $('#newUserEventEndDate').val(new_date2); 
         $("#text_id").show(); 
        $('#createUserEventModal').modal('show');
        <% end %>     


});



</script>
<script>
  $(function() {
   var accountid = '<%= @account.id %>'; 
 
    $('#calendar').fullCalendar({  
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'       
      },
       defaultView: "agendaDay",
      defaultDate: new Date(),
      selectable: true,
      selectHelper: false,
      select: function(start, endDate, jsEvent, view) {
	 <% if @profileuser.user_type == 2  %>
		       $("#text_id").hide(); 
        if ( new Date(start).getTime() >= new Date().getTime() - 86400000) {     
        $('.hideMe').hide();
        $('#EventEditFormSection').slideDown();
        $('.newUserEventStartDate').slideDown();
        $('#actionTitle').html("Create New ");
        $('#newUserEventTitle, #newUserEventDescription').val("");
        $('#newUserEventId').val('0');
        $('#newUserEventStartDate').val(start.format());   
        var d = moment(start).format('MMMM Do h:mm a');
        var h = moment(endDate).format('h:mm a') ;
        
        $('.newUserEventStartDate').text(d  + "-" + h );
        $('#newUserEventEndDate').val(endDate.format());        
       // $('.newUserEventEndDate').text(start.format());        
        $('#createUserEventModal').modal('show');
        }
        <% end %>
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: {
        url: "/get_user_appointment/" + '<%= @account.id %>' +"/" + '<%= @profileuser.id %>'
      },
      eventClick:function(calEvent, jsEvent, view) {
     // console.log(accountid +'/'+ calEvent.trainer_id)
      
      if ( new Date(calEvent.start).getTime() >= new Date().getTime() - 86400000 ) {     
       if (accountid == calEvent.account_id  || accountid == calEvent.trainer_id) {
			//console.log(calEvent)
		 $("#text_id").show(); 
		 $('#when').hide(); 
         $('#actionTitle').html("Edit ");
         $('#newUserEventId').val(calEvent.id);
            $('#newUserEventTitle').val(calEvent.title);
            $('#newUserEventEventId').val(calEvent.event_id);
            $('#newUserEventStartDate').val(moment(calEvent._start).format());
             var strt = moment(calEvent._start).format("MM/D/YYYY");
             var strt_time = moment(calEvent._start).format("hh:mm a");
            $("#mydate").val(strt);
            $("#timepicker").val(strt_time);
             if (calEvent._end == null){            
				$("#end_date").val(strt);
				$("#timepicker2").val(strt_time);
			}else {
			 var end = moment(calEvent._end).format("MM/D/YYYY");
			 var end_time = moment(calEvent._end).format("hh:mm a");
             $("#end_date").val(end);
             $("#timepicker2").val(end_time);
			}
            $('#newUserEventEndDate').val(moment(calEvent._end).format());
            $('#newUserEventDescription').val(calEvent.description);
            $('#SelectedUserEventTitle').html(calEvent.title);
            $('#SelectedUserEventDesc').html(calEvent.description);
           DeleteUserEventId = calEvent._id;
            $('#ActionHeader').show();
       $('#createUserEventModal').modal('show');
        $('#EventEditFormSection').hide();
        $('#RemoveUserEventSection').hide();
     
       if (accountid == calEvent.trainer_id && accountid !=calEvent.account_id && calEvent.status==1) {
          $('#ApproveUserEvent').show();
       } else {
          $('#ApproveUserEvent').hide();
       } 
       }}
      }        
    });

    $('#createUserEventForm').validate({
      rules: {
        'user_event[title]': {
          required: true,         
          maxlength: 50
        },
        'user_event[description]': {
          maxlength: 200
        }
      },
      messages: {
        'user_event[title]': {
          required: 'Please enter event title.',
         maxlength: 'Event title can be maximum of 50 characters.'
        },
        'user_event[description]': {
          maxlength: 'Event description can be maximum of 200 characters.'
        }
      },
      submitHandler: function(form) {
        var formData = $('#createUserEventForm').serialize();
        $.ajax({
          type: "post",
          url: "<%= save_user_appointment_path %> ",
          data: formData,
          dataType: "json",
          success: function(resp) {
            if (resp.status == "ok") {
              var eventId = resp.event_id;
              var userEventId = resp.user_event_id;
              $('#calendar').fullCalendar('refetchEvents');
              $('#newUserEventEventId, #newUserEventId').val('0');
              $('#newUserEventTitle').val('');
              $('.close-modal').click();
              $('#createUserEventForm').modal('hide');
               $('#EventEditFormSection').modal('hide');
                      $("#text_id").hide(); 
            }
          }
        });
      }
    });
    
       $('#EditEvent').click(function(){
        $('#ActionHeader').hide();
        $('#EventEditFormSection').slideDown();
    });
    
      
    
       $('#RemoveUserEvent').click(function () {
       $('.hideMe').hide();
       $('#RemoveUserEventSection').slideDown();
       RemoveAction = 'userEvent';
    });
   

    
    $('#WarningYes, #WarningYesUserEvent').click(function () {   
            deleteUserEvent();
       });
       
       
    $('#ApproveUserEvent').click(function () {   
            ApproveUserEvent();
       });

  });
  
   function deleteUserEvent() {
        $.ajax({
            type: "delete",
            url: "/delete_user_event/" + DeleteUserEventId,
            dataType: "json",
            success: function (resp) {
                $('#calendar').fullCalendar('removeEvents', DeleteUserEventId);
                  $('#calendar').fullCalendar('refetchEvents');
                $('#createUserEventModal').modal('toggle');
                  $('.flash-message').html('<div class="alert alert-success"> Event removed succesfully.</div>').show();
              //  setTimeout(function(){location.reload()}, 1000);
               
            
            }
        });
    }
    
    
      
   function ApproveUserEvent() {
        $.ajax({
            type: "put",
            url: "/approve_user_event/" + DeleteUserEventId,
            dataType: "json",
            success: function (resp) {
                //$('#calendar').fullCalendar('removeEvents', DeleteUserEventId);
                $('#createUserEventModal').modal('hide');
                $('.flash-message').html('<div class="alert alert-success"> Appointment approved succesfully.</div>').show();
            
                 $('#calendar').fullCalendar('refetchEvents');
               //  setTimeout(function(){location.reload()}, 1000);
                }
        });
    }

</script> 
