<div id="left_side">
	<div id="left_side_fixed">
		<div id="account_info" class="profile_aside">
			<div class="cover">
				<%= image_tag('covers/cover.png') %>
			</div>
			<div class="user">
				<div class="mask">
                                  <% if !@account.avatar.blank? %>
					<%= image_tag(@account.avatar(:medium)) %>
                                  <% else  %>
                                  <%= image_tag('default.png') %>
                                  <% end %>
				</div>
				<% if @account.last_name.present? %>
				<% lname = @account.last_name %>
				 <% else %>
				<%  lname = '' %>
				<% end %>
				<h3><%= @account.first_name + ' ' +  lname  %><span>Friends</span></h3>
			</div>
			<div class="profile_actions">
				<button class="message">Message</button
				><button class="challenge">Challenge</button>
			</div>
			
			<%= render(:partial => 'nav/side_nav') %>
			
		</div>
	</div>
</div>
<script type="text/javascript">

</script>
