
<div id="left_side">

	<div id="left_side_fixed">
		<div id="account_info" class="profile_aside">
			<div class="cover">
				<% image_tag('covers/cover.png') %>
			</div>
			<div class="user">
				<div class="mask">
				<% img =  useravatar(@profileuser)  %>
                                <%= image_tag(img) %>			  
				</div>
				<% if @profileuser.last_name.present? %>
				<% lname = @profileuser.last_name %>
				 <% else %>
				<%  lname = '' %>
				<% end %>
				<h3><label class="pro-name"><%= @profileuser.first_name + ' ' +  lname  %></label>
			
				  <% unless @account.id == @profileuser.id %>	
				 
					  <% if @account.pending_friends.present? %>					  
					         <% @account.pending_friends.each do |friendship| %>		
					         		    
					         	  <% if friendship.id == @profileuser.id %>	
					         	  <button data-id="<%= Base64.encode64(friendship.id.to_s)%>" class="cancelfriend">Cancel Request</button>
								  <button data-id="" class="addfriend" style="display:none;" >Add Friend</button>							         	
								  
									
									 <% end %>
							<% end %>		
							<% end %>		
							
							<% if !@friend.present? %>
							 
							      <% if @profileuser.user_type.to_i == 3 && @account.user_type.to_i == 3 %>
							     <span></span>
							     <% else %>
									  <button data-id="<%= Base64.encode64(@profileuser.id.to_s) %>" class="addfriend">
									  <%=  @profileuser.user_type==3 ? 'Join' :'Add Friend'%>						  
									  </button>
							<% end %>		  
							
									<button data-id="" class="cancelfriend" style="display:none;">Cancel Request</button>	
									<% elsif @friend.approved== true %>
									   <div class="reqsent">
										<span>Friend</span>							     
										</div>	
									<% else %>
								
									  <div class="reqsent">
										<span><%= @profileuser.id == @friend.account_id ? 'Request Pending ' : 'Request Sent ' %></span>							     
										</div>		
									<% end %>
				      		
				      
				   
				<% end %>
				
				</h3>
						</div>
						<% if @account.id != @profileuser.id %>
							<div class="profile_actions">			
								<button class="message" data-toggle="modal" data-target="#messageForm">Message</button
								><button class="message" data-toggle="modal" data-target="#challengeForm">Challenge</button
								>
							</div>
			            <% end %>
			
			<%= render(:partial => 'nav/side_nav', :profileuser => @profileuser) %>
			
		</div>
	</div>
</div>
<div class="modal fade" id="messageForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Message</h4>
      </div>
      <div class="modal-body">
 	<%= render(:partial => 'messages/message') %>
      </div>
      <div class="modal-footer">
        <button type="button" id="sendmessage" class="btn btn-primary"  data-sid ="<%= Base64.encode64(@account.id.to_s) %>", data-rip =" <%=  Base64.encode64(@profileuser.id.to_s) %>" >Send</button>
      </div>
    </div>
  </div>
</div>
<!-- Challenge -->
<div class="modal fade" id="challengeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Challenge</h4>
      </div>
      <div class="modal-body">
 	<%= render(:partial => 'challenges/challenge') %>
      </div>
      <div class="modal-footer">
        <button type="button" id="challenge" class="btn btn-primary"   data-rip =" <%=  Base64.encode64(@profileuser.id.to_s) %>" >Send</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

$(document).ready(function(){
 
//remove friend

$('.cancelfriend').on('click', function() {
var toid = $(this).attr('data-id');

	$.ajax({
				type: "DELETE",
				url: '/cancelrequest/', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {id:toid},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
					$('.cancelfriend').hide();
					$('.addfriend').show();
					$('.addfriend').attr('data-id', data);					
					$('.flash-message').html('<div class="alert alert-success"> Request Removed Succesfully</div>').show();
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
	    
	    });
// add friend
$('#sendmessage').on('click', function(e) {
e.preventDefault();
CKEDITOR.instances['message_body'].updateElement();

if ($('#conversation_form').valid()) {
var sid = $(this).attr('data-sid');
var rid = $(this).attr('data-rip');
var bodytext = $('.bodyboxtextarea').val();



	$.ajax({
				type: "POST",
				url: '<%= messages_path %>', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {sender_id:sid, recipient_id:rid, body:bodytext},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
					$('#messageForm').modal('hide');	
							
					$('.flash-message').html('<div class="alert alert-success"> Message Sent Succesfully</div>').show();
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
                        }
	    
	    });
	    
	    
// add friend
$('.addfriend').on('click', function() {
var toid = $(this).attr('data-id');
	$.ajax({
				type: "POST",
				url: '/addfriend/', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {toid:toid},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
					$('.addfriend').hide();
					$('.cancelfriend').show();
					$('.cancelfriend').attr('data-id', data);
					
					$('.flash-message').html('<div class="alert alert-success"> Request Sent Succesfully</div>').show();
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
	    
	    });
	    
$('#challenge').on('click', function() {
if ($('#challenge_form').valid()) {
var rid = $(this).attr('data-rip');
var bodytext = $('.boxtextarea').val();
var categoryid = $('#category_id').val();
var rewardpoints = $('#reward_points').val();
var qty = $('#challenge_qty').val();
var valid_till = $('#datepicker').val();


	$.ajax({
				type: "POST",
				url: '<%= challenge_path %>', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {to_id:rid, category_id:categoryid, text:bodytext, reward_points:rewardpoints,qty:qty,valid_till:valid_till},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
					$('#challengeForm').modal('hide');						
					$('.flash-message').html('<div class="alert alert-success"> Challenge Sent Succesfully</div>').show();
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
}                        
	    
	    });	    	    
	    
	    
      
});	  // end of document.ready  
	    

</script>
