<!--- New --->	
<div class="collage">
    <div class="sub_collage">
        <div class="square">
            <%= form_for( AccountCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_one", :onsubmit=>'return before_submit()'}) do |f| %>
             <% if @account.id == @profileuser.id %>
            <span class="cover-icon"></span>
          <input type="file" value="Change cover"  accept="image/*" id="cfone" data-id="1" class="cover_file" name="cover" title="(ideal image size : 159 X 250)" />
           <input type="hidden" name="position" value=1>								
             <% end %>
             <% end %>
            <% img = get_cover(1) %>
            <div style="width:170px;height:166.8px;">							
            <input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_one">
            <%= image_tag(img.present? ? img.cover : '' , :id =>'position_one') %>
            
            </div>
            </div>
        <div class="square">
             <%= form_for( AccountCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_two", :onsubmit=>'return before_submit()'}) do |f| %>
             <% if @account.id == @profileuser.id %>
             <span class="cover-icon"></span>
             <input type="file" value="Change cover" id="cftwo" data-id="2" accept="image/*" class="cover_file" name="cover" title="(ideal image size : 159 X 250)" />
             <input type="hidden" name="position" value=2>								
             <% end %>
             <% end %>
            <% img = get_cover(2) %>
             <div style="width:170px;height:166.8px;">
        
            <input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_two">
            <%= image_tag(img.present? ? img.cover : '' , :id =>'position_two') %>
        
        </div>
        </div>
        <div class="landscape">
         <%= form_for( AccountCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_three", :onsubmit=>'return before_submit()'}) do |f| %>
             <% if @account.id == @profileuser.id %>
          <span class="cover-icon"></span>
          <input type="file" value="Change cover" id="cfthree" data-id="3"  accept="image/*" class="cover_file" name="cover" title="(ideal image size : 350 X 150)" />
           <input type="hidden" name="position" value=3>								
             <% end %>
             <% end %>
             <% img = get_cover(3) %>
              <div style="width:345.6px;height:167.8px;">
            
            <input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_three">
            <%= image_tag(img.present? ? img.cover : '', :id =>'position_three') %>
            
             </div>
             </div>
    </div>
    <div class="sub_collage">
        <div class="big_square">
         <%= form_for( AccountCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_four", :onsubmit=>'return before_submit()'}) do |f| %>
             <% if @account.id == @profileuser.id %>
             <span class="cover-icon"></span>
          <input type="file" value="Change cover" id="cffour" data-id="4"  accept="image/*" class="cover_file" name="cover" title="(ideal image size : 350 X 300)" />
           <input type="hidden" name="position" value=4>								
             <% end %>
             <% end %>
             <% img = get_cover(4) %>
                <div style="width:340.6px;height:340.6px;"> 
                
                <input type ="hidden" value="<%= img.present? ? img.position_offset : ''%>" id="offset_four">
                <%= image_tag(img.present? ? img.cover : '' , :id =>'position_four') %>
                
                </div>
            </div>
        <div class="square">
               <%= form_for( AccountCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_five", :onsubmit=>'return before_submit()'}) do |f| %>
             <% if @account.id == @profileuser.id %>
             <span class="cover-icon"></span>
          <input type="file" value="Change cover" id="cffive" data-id="5"  accept="image/*" class="cover_file" name="cover" title="(ideal image size : 175 X 150)" />
           <input type="hidden" name="position" value=5>								
             <% end %>
             <% end %>
             <% img = get_cover(5) %>
             <div style="width:166.8px;height:166.8px;"> 
             
                <input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_five"> 		
            <%= image_tag(img.present? ?img.cover : '' , :id =>'position_five') %>
        
            </div>
            </div>
        <div class="square">
          <%= form_for( AccountCover.new, :remote => true, :multipart => true, :format => :json, :html => {id: "cover_form_six", :onsubmit=>'return before_submit()'}) do |f| %>
             <% if @account.id == @profileuser.id %>
             <span class="cover-icon"></span>
          <input type="file" value="Change cover" id="cfsix" data-id="6"  accept="image/*" class="cover_file" name="cover" title="(ideal image size : 175 X 150)" />
           <input type="hidden" name="position" value=6>								
             <% end %>
             <% end %>
             <% img = get_cover(6) %>
              <div style="width:166.8px;height:166.8px;"> 
                
                    <input type ="hidden" value="<%= img.present? ? img.position_offset : '' %>" id="offset_six"> 
                <%= image_tag(img.present? ? img.cover : '' , :id =>'position_six') %>
            
            </div>
            </div>
    </div>
</div>
<div class="profile_bar">
<div class="avatar profile-avtar">
  <% img =  useravatar(@profileuser)  %>
 <%= image_tag(img) %>	
  <% if @account.id == @profileuser.id %>
 <form class="change-profilePic" novalidate="novalidate" method="post" enctype="multipart/form-data" action="update_avatar" accept-charset="UTF-8">
	 <span class="cover-icon"></span>
	 <input type="file" title="Change profile image" name="avatar" onchange="this.form.submit()" accept="image/*">         
  </form>
  <% end %>
 </div>
   
<div class="profile_data" <% if @profileuser.user_type.to_i == 3  %> style="background-color: <%= @profileuser.account_gym.color.present? ? @profileuser.account_gym.color : 'rgb(177, 26, 151)' %> " <% end %> >
    <div class="personal_data">
     <% lname = @profileuser.last_name.present? ? @profileuser.last_name : "" %>
     <% if @profileuser.user_type == 3 %>
		<h1><%= @profileuser.account_gym.name.present? ? @profileuser.account_gym.name.capitalize : @profileuser.first_name.capitalize + ' ' +  lname.capitalize %></h1>
     <% else %>
      <h1><%= @profileuser.first_name.capitalize + ' ' +  lname.capitalize  %></h1>
     <% end %>
      
         <% unless @account.id == @profileuser.id %>	
			 <% if !@friend.present? %>
				  <% if @profileuser.user_type.to_i == 3 && @account.user_type.to_i == 3 %>
					<p></p>
				  <% else %>
					<button data-id="<%= Base64.encode64(@profileuser.id.to_s) %>" sata="sfd" class="addfriend">
					  <%= if  @profileuser.user_type==3 
						'Join Gym' 
						elsif @profileuser.user_type==2
						'Follow'
						else
						'Add Friend'
						end %>   
					</button>
				  <% end %>	
			   <button data-id="<%= Base64.encode64(@profileuser.id.to_s) %>" class="unfollowfriend" style="display:none;"></button>
			
			<% else %>	
			   <button data-id="<%= Base64.encode64(@profileuser.id.to_s) %>"  data="ssd" style="display:none;" class="addfriend"></button>								
				<% if  @profileuser.user_type==3 %>
					<button data-id="<%=  Base64.encode64(@profileuser.id.to_s) %>" class="unfollowfriend">Leave Gym</button>			     
				<% elsif  @profileuser.user_type==2 %>
					<button data-id="<%=  Base64.encode64(@profileuser.id.to_s) %>" class="unfollowfriend">Unfollow</button>	
				<% else %>
				   <button data-id="<%=  Base64.encode64(@profileuser.id.to_s) %>" class="unfollowfriend">Unfriend</button>		
				<% end %>	         
			<% end %>
		<% end %>

        <% if @profileuser.user_type == 1 %>
        <p><%= @profileuser.profession.present? ? @profileuser.profession.name : ''  %> <%= @profileuser.company.present? ? 'at' + @profileuser.company.to_s  : '' %></p>
        <% end %>
    
            <% if @profileuser.user_type == 2 %>                                	
        <p> Trainer <%= @profileuser.account_trainer.gym_id.present? ? 'at ' + get_gym_name(@profileuser.account_trainer.gym_id)  : '' %></p>
        <% end %>
        <% if @profileuser.user_type == 3 %>   
        <p><% if @profileuser.account_gym.address.present? %>
        <% @profileuser.account_gym.address.each { |x|  %>
			<%= x %> 
			<span style="display:none;" id="loca"><%= x %> </span>
			<% } %>        
        </p>
        <% end %>
        <% end %>
    </div>
    <div class="statistics">
      
                      <% if @profileuser.user_type.to_i == 2 %> 
    <div class="rating-box trainer-rating"><div class="rating-inner"> <p>Average rating -</p>
        <div id="star"></div>
      </div>
      <% if @account.id != @profileuser.id  %>
        <div class="rating-inner last">
          <p>Your rating -</p>
          <div id="user_star"></div>
        </div>
      <% end  %>                  </div>
  <% end  %>
         <% if  @profileuser.user_type.to_i == 1 %>
        <div><h1><%= Challenge.involving(@profileuser).count %></h1><h2>Challenges</h2></div>
        <div><h1>0</h1><h2>Goals Completed</h2></div>
        <% end %>
        
          <% if  @profileuser.user_type.to_i == 3 %>
          <% total_members = @profileuser.active_friends.count + @profileuser.passive_friends.count %>
          <% str = Time.now.strftime("%A").downcase %>                                  
      <% if @profileuser.account_gym.timings.present? %>
     <div><h1><%= @profileuser.account_gym.timings[str + "_start"] %>-<%= @profileuser.account_gym.timings[str + "_end"] %></h1><h2>Open Today</h2></div>
     <% end %>
      <div><h1><%= total_members %></h1><h2>Members</h2></div>
        <% end %>
    </div>
</div>
<div class="profile_nav">
<% if @account.id != @profileuser.id %>
    <div class="actions">
      <button class="message" data-toggle="modal" data-target="#messageForm">Message</button>
       <% if @profileuser.user_type !=3 %>
       <button class="message" data-toggle="modal" data-target="#challengeForm">Challenge</button>
       <% end %>                               
    </div>
 <% end %>   
 <div class="actions">
 <% if @profileuser.user_type == 3 && @profileuser.id != @account.id && @profileuser.account_gym.address.present? %>
       <button id="chkin">CHECK-IN</button>
       <% end %>
 </div>      
<input type="hidden" value="<%= Base64.encode64(@profileuser.id.to_s) %>" id="profile_udk">
<script type="text/javascript">
 $(window).load(function(){
	  $("#star img").each(function() {
		 $(this).attr("title","");
		 })
	})
 $(document).ready(function() {
	 
	 // unfollow
	 $('.unfollowfriend').on('click', function() {
		 if (confirm("Are you sure?")) {  
		var toid = $("#profile_udk").val();
		var that = this;
			$.ajax({
				type: "DELETE",
				url: '/rejectrequest/', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {id:toid},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
					$('.unfollowfriend').hide();
					$('.addfriend').show();
					$('.addfriend').attr('data-id', data);	
					 <% if @profileuser.user_type == 2 %>
                      $('.addfriend').text("follow");
                     <% elsif @profileuser.user_type == 3 %>                
                      $('.addfriend').text("Join Gym");
                     <% else %>
                      $('.addfriend').text("Add Friend");
                     <% end %>								
				
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
             }
	    });
	
	 // checkin
	 <% if @profileuser.user_type == 3 %>
	 $('#chkin').on('click', function() {
	
		 var gymid = "<%= @profileuser.account_gym.id %>";   
		 var location = $('#loca').text();   
		 console.log(location)
		 	$.ajax({
				type: "POST",
				url: '/check_in', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {account_gym_id:gymid, location:location},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
				//	$('#checkinForm').modal('hide');
					window.location.href = "/feed"                                   },
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)					
				}	
			
			});
	    
});
<% end %>
     //remove friend
     $('.cancelfriend').on('click', function() {
         var toid = $(this).attr('data-id');

         $.ajax({
             type: "DELETE",
             url: '/cancelrequest/', //sumbits it to the given url of the form
             dataType: "HTML",
             data: {
                 id: toid
             },
             beforeSend: function(xhr) {
                 xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
             },
             success: function(data) {
                 $('.cancelfriend').hide();
                 $('.addfriend').show();
                 $('.addfriend').attr('data-id', data);
                 $('.flash-message').html('<div class="alert alert-success"> Request Removed Succesfully</div>').show();
             },
             error: function(xhr, ajaxOptions, thrownError) {
                 $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
                 console.log(thrownError)

             }

         });

     });
     // add friend
     $('#sendmessage').on('click', function(e) {
         e.preventDefault();
         CKEDITOR.instances['message_body'].updateElement();

         if ($('#conversation_form').valid()) {
             var sid = $(this).attr('data-sid');
             var rid = $(this).attr('data-rip');
             var bodytext = $('.bodyboxtextarea').val();



             $.ajax({
                 type: "POST",
                 url: '<%= messages_path %>', //sumbits it to the given url of the form
                 dataType: "HTML",
                 data: {
                     sender_id: sid,
                     recipient_id: rid,
                     body: bodytext
                 },
                 beforeSend: function(xhr) {
                     xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                 },
                 success: function(data) {
                     $('#messageForm').modal('hide');

                     $('.flash-message').html('<div class="alert alert-success"> Message Sent Succesfully</div>').show();
                 },
                 error: function(xhr, ajaxOptions, thrownError) {
                     $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
                     console.log(thrownError)

                 }

             });
         }

     });


     // add friend
     $('.addfriend').on('click', function() {
         var toid = $(this).attr('data-id');
         $.ajax({
             type: "POST",
             url: '/addfriend/', //sumbits it to the given url of the form
             dataType: "HTML",
             data: {
                 toid: toid
             },
             beforeSend: function(xhr) {
                 xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
             },
             success: function(data) {
                 $('.addfriend').hide();
                 $('.unfollowfriend').show();
                 $('.unfollowfriend').attr('data-id', data);
                 <% if @profileuser.user_type == 2 %>
                    $('.unfollowfriend').text("Unfollow");
                  <% elsif @profileuser.user_type == 3 %>                
                    $('.unfollowfriend').text("Leave Gym");
                  <% else %>
                     $('.unfollowfriend').text("Unfriend");
                 <% end %>
             },
             error: function(xhr, ajaxOptions, thrownError) {
                 $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
                 console.log(thrownError)

             }

         });

     });

     $('#challenge').on('click', function() {
         if ($('#challenge_form').valid()) {
             var rid = $(this).attr('data-rip');
             var bodytext = $('.boxtextarea').val();
             var categoryid = $('#category_id').val();
             var rewardpoints = $('#reward_points').val();
             var qty = $('#challenge_qty').val();
             var valid_till = $('#datepicker').val();


             $.ajax({
                 type: "POST",
                 url: '<%= challenge_path %>', //sumbits it to the given url of the form
                 dataType: "HTML",
                 data: {
                     to_id: rid,
                     category_id: categoryid,
                     text: bodytext,
                     reward_points: rewardpoints,
                     qty: qty,
                     valid_till: valid_till
                 },
                 beforeSend: function(xhr) {
                     xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                 },
                 success: function(data) {
                     $('#challengeForm').modal('hide');
                     $('.flash-message').html('<div class="alert alert-success"> Challenge Sent Succesfully</div>').show();
                 },
                 error: function(xhr, ajaxOptions, thrownError) {
                     $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
                     console.log(thrownError)

                 }

             });
         }

     });


     $('#star').raty({
         readOnly: true,
         half: true,
         hints: false,
         score: <%= @profileuser.average_rating %>,
         path: '/assets'
     });

     $('#user_star').raty({
         half: true,
          hints: false,
         score: <%= @rating.score %>,
         path: '/assets',
         click: function(score, evt) {
             $.ajax({
                 url: '/ratings/' + <%= @rating.id %>,
                 type: 'PATCH',
                 data: {
                     score: score
                 }
             });
         }
     });

     // ajax form 

     $('body').on('change', '.cover_file', function() {
         var id = $(this).closest('form').attr('id');
         var field_id = $(this).attr('id');
         var pid = $(this).attr('data-id');
         var imgs = $(this).parent().parent('div').children('div').children('img').attr('id');
         bf = before_submit_image(field_id);
         bf.then(function() {
             console.log('Resolve..')
                 //=============
             $("#" + id).ajaxSubmit({
                 type: "POST",
                 url: '<%= account_covers_path %>', //sumbits it to the given url of the form
                 dataType: "HTML",
                 beforeSend: function(xhr) {
                     xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                 },
                 success: function(data) {
                     $('#' + imgs).attr('src', data);
                     $('#' + imgs).dragncrop('destroy');
                     $('#' + imgs).dragncrop({
                         //position: {offset: [ofone[0],ofone[1]]},
                         start: function() {},
                         drag: function(event, position) {},
                         stop: function(e, position) {
                             update_offset(position.offset, pid)
                         }
                     });

                 },
                 error: function(xhr, ajaxOptions, thrownError) {
                     $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
                     console.log(thrownError)

                 }

             });

             //===========
         }, function() {
             console.log('Reject..')
             return false;
         });



     });



 }); // end of document.ready  

 var update_offset = function(position_offset, position) {

     $.ajax({
         type: "POST",
         url: '<%= update_cover_offset_path %>', //sumbits it to the given url of the form
         dataType: "HTML",
         data: {
             position_offset: position_offset,
             position: position
         },
         beforeSend: function(xhr) {
             xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
         },
         success: function(data) {
             console.log('success')
         },
         error: function(xhr, ajaxOptions, thrownError) {

             console.log(thrownError)

         }

     });
 }

 <% if @account.id == @profileuser.id %>

 var offset_six = document.getElementById("offset_six");
 if (offset_six != null) {
     var ofsix = offset_six.value.split(',');
 } else {
     var ofsix = "";
 }
 $('#position_six').dragncrop({
     position: {
         offset: [ofsix[0], ofsix[1]]
     },
     start: function() {},
     drag: function(event, position) {},
     stop: function(e, position) {
         update_offset(position.offset, 6)
     }
 });


 var offset_five = document.getElementById("offset_five");
 if (offset_five != null) {
     var offive = offset_five.value.split(',')
 } else {
     var offive = ""
 }
 $('#position_five').dragncrop({
     position: {
         offset: [offive[0], offive[1]]
     },
     start: function() {},
     drag: function(event, position) {},
     stop: function(e, position) {
         update_offset(position.offset, 5)
     }
 });

 var offset_four = document.getElementById("offset_four");
 if (offset_five != null) {
     var of = offset_four.value.split(',')
 } else {
     var of = "";
 }

 $('#position_four').dragncrop({
     position: {
         offset: [of[0], of[1]]
     },
     start: function() {},
     drag: function(event, position) {},
     stop: function(e, position) {
         update_offset(position.offset, 4)
     }
 });

 var offset_three = document.getElementById("offset_three");
 if (offset_three != null) {
     var ofthree = offset_three.value.split(',')
 } else {
     var ofthree = "";
 }

 $('#position_three').dragncrop({
     position: {
         offset: [ofthree[0], ofthree[1]]
     },
     start: function() {},
     drag: function(event, position) {},
     stop: function(e, position) {
         update_offset(position.offset, 3)
     }
 });
 var offset_two = document.getElementById("offset_two");
 if (offset_two != null) {
     var oftwo = offset_two.value.split(',')
 } else {
     var oftwo = ""
 }
 $('#position_two').dragncrop({
     position: {
         offset: [oftwo[0], oftwo[1]]
     },
     start: function() {},
     drag: function(event, position) {},
     stop: function(e, position) {
         update_offset(position.offset, 2)
     }
 });

 var offset_one = document.getElementById("offset_one");
 var ofone = "";
 if (offset_one != null) {
     ofone = offset_one.value.split(',')
 }

 console.log(ofone[0])
 console.log(ofone[1])
 $('#position_one').dragncrop({
     position: {
         offset: [ofone[0], ofone[1]]
     },
     start: function() {},
     drag: function(event, position) {},
     stop: function(e, position) {
         update_offset(position.offset, 1)
     }
 });
 <% else %>

 var offset_six = document.getElementById("offset_six");
 var ofsix = "";
 if (offset_six != null) {
     var ofsix = offset_six.value.split(',');
 }
 $('#position_six').dragncrop({
     position: {
         offset: [ofsix[0], ofsix[1]]
     }
 });


 var offset_five = document.getElementById("offset_five");
 var offive = ""
 if (offset_five != null) {
     var offive = offset_five.value.split(',')
 }
 $('#position_five').dragncrop({
     position: {
         offset: [offive[0], offive[1]]
     }
 });

 var offset_four = document.getElementById("offset_four");
 var of = ""
 if (offset_four != null) {
     var of = offset_four.value.split(',')
 }
 $('#position_four').dragncrop({
     position: {
         offset: [of[0], of[1]]
     }
 });

 var offset_three = document.getElementById("offset_three");
 var ofthree = ""
 if (offset_three != null) {
     var ofthree = offset_three.value.split(',')
 }
 $('#position_three').dragncrop({
     position: {
         offset: [ofthree[0], ofthree[1]]
     }
 });
 var offset_two = document.getElementById("offset_two");
 var oftwo = ""
 if (offset_two != null) {
     var oftwo = offset_two.value.split(',')
 }
 $('#position_two').dragncrop({
     position: {
         offset: [oftwo[0], oftwo[1]]
     }
 });

 var offset_one = document.getElementById("offset_one");
 var ofone = "";
 if (offset_two != null) {
     var ofone = offset_one.value.split(',')
 }
 $('#position_one').dragncrop({
     position: {
         offset: [ofone[0], ofone[1]]
     }
 });
 <% end %>
 

</script>
<% if @profileuser.user_type == 3 %>
  <style>
   .profile_data h1, .profile_data h2, .profile_data p{
	   color: <%= @profileuser.account_gym.font_color.present? ? @profileuser.account_gym.font_color : "#fff" %>!important;
	   }
   </style>
<% end %>   
