<div class="search_results">
		<div class="top_results column" style="display:none;">
			<h2>TOP RESULTS</h2>
			<div class="activities">
				<div class="column_header">
					<h3>ACTIVITIES</h3>
				</div>
				<div class="list">
					<div class="activity">
						<div class="logo">
							<%= image_tag('activities/lacrosse.png'); %>
						</div>
						<div class="name">
							<h4>LACROSSE</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="fitspots">
				<div class="column_header">
					<h3>FITSPOTS</h3>
				</div>
				<div class="list">
					<div class="place">
						<div class="avatar">
							<%= image_tag('fitspot/fitspot.png'); %>
						</div>
						<div class="name">
							<h4>WARD PARK</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Lacrosse Check Ins</span>
						</div>
					</div>
				</div>
			</div>
			<div class="gyms">
				<div class="column_header">
					<h3>GYMS</h3>
				</div>
				<div class="list">
					<div class="place">
						<div class="avatar">
							<%= image_tag('gym/24_hour_fitness.png'); %>
						</div>
						<div class="name">
							<h4>24 HOUR FITNESS</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Members</span>
						</div>
					</div>
					<div class="place">
						<div class="avatar">
							<%= image_tag('gym/gym_photo.png'); %>
						</div>
						<div class="name">
							<h4>LA FITNESS</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Members</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
  
		<div class="people column">
			<a onclick = "hide_chatbox();" style="float:right; margin:0px -20px 0 0;" href="javascript:void(0)" title="Close">X</a>
		<% if @user.present?  %>
			<h2>PEOPLE </h2>			
			<%  @user.each do |abc| %>
			<div class="trainers">
				<div class="column_header">
				<% if abc.user_type == 2 %>
					<h3>Trainer</h3>
				<% elsif abc.user_type == 3 %>	
				<h3>Gym</h3>
				<% else %>
				<h3>User</h3>
				<% end %>
					<%= link_to('MORE', "/#{abc.user_name}"); %>
				</div>
				<div class="list">
					<div class="person">
						<div class="avatar">
                                               <% img = useravatar(abc) %>
				   		 <%= image_tag img %>				  
				    
				    		  
						</div>
						<div class="name">
						<% if abc.user_type == 3 %>
							<h4> <%# abc.account_gym.name.present? ? abc.account_gym.name : abc.first_name  %>
							<%= link_to(abc.account_gym.name.present? ? abc.account_gym.name.capitalize : abc.first_name.capitalize, "/#{abc.user_name}"); %>
							</h4>
						<% else %>
							<h4>
							<%= link_to(abc.first_name.capitalize + ' ' + (abc.last_name.present? ? abc.last_name : ''), "/#{abc.user_name}"); %>
							</h4>
						<% end %>	
						</div>
                                          <% if abc.account_user.present? && abc.account_user.trainer_contacts ==1  %>
						<div class="requirement">
							<span class="check_ins">Looking for trainer</span>
						</div> 
                                          <% end  %>
					</div>
				</div>
			</div>
	<% end %>	
	

	<% end %>		
		<div class="places column" style="display:none;">
			<h2>PLACES</h2>
			<div class="fitspots">
				<div class="column_header">
					<h3>FITSPOTS</h3>
					<%= link_to('MORE', '/'); %>
				</div>
				<div class="list">
					<div class="place">
						<div class="avatar">
							<%= image_tag('fitspot/fitspot.png'); %>
						</div>
						<div class="name">
							<h4>WARD PARK</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Lacrosse Check Ins</span>
						</div>
					</div>
				</div>
			</div>
			<div class="gyms">
				<div class="column_header">
					<h3>GYMS</h3>
					<%= link_to('MORE', '/'); %>
				</div>
				<div class="list">
					<div class="place">
						<div class="avatar">
							<%= image_tag('gym/24_hour_fitness.png'); %>
						</div>
						<div class="name">
							<h4>24 HOUR FITNESS</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Members</span>
						</div>
					</div>
					<div class="place">
						<div class="avatar">
							<%= image_tag('gym/gym_photo.png'); %>
						</div>
						<div class="name">
							<h4>LA FITNESS</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Members</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="activities column" style="display:none;">
			<h2>ACTIVITIES</h2>
			<div class="list">
				<div class="activity">
					<div class="logo">
						<%= image_tag('activities/lacrosse.png'); %>
					</div>
					<div class="name">
						<h4>LACROSSE</h4>
					</div>
				</div>
			</div>
		</div>
          <% if @groups.present? %>
        <div class="local_groups">
         
        <% @groups.each do |gp| %>
           <% cnt = gp.group_member.count  %>
				<div class="column_header">
					<h3>GROUP</h3>
                                           <%= link_to('MORE', "/groups/#{Base64.encode64(gp.id.to_s)}") %>
				</div>
				<div class="list">
					<div class="person" style="display:block;">
						<div class="avatar">
							<%= image_tag gp.group_image %>
						</div>
						<div class="name">
							<h4>
								 <%= link_to(gp.title.capitalize, "/groups/#{Base64.encode64(gp.id.to_s)}") %>
                            </h4>
						</div>
						<div class="requirement">
							<span class="check_ins">
							<%= cnt + 1 %>  Member(s)</span>
						</div>
					</div>
				
				</div>
          <% end  %>
			</div>
          <% end  %>
                           <% if @fitspot.present? %>
        <div class="local_groups">
         
        <% @fitspot.each do |gp| %>
           <% cnt = gp.fitspot_member.count  %>
				<div class="column_header">
					<h3>FITSPOTS</h3>
                                           <%= link_to('MORE', "/fitspots/#{Base64.encode64(gp.id.to_s)}") %>
				</div>
				<div class="list">
					<div class="person" style="display:block;">
						<div class="avatar">
							<%= image_tag gp.fitspot_image %>
						</div>
						<div class="name">
							<h4>
                             <%= link_to(gp.title.capitalize , "/fitspots//#{Base64.encode64(gp.id.to_s)}") %>                        
                            </h4>

						</div>
						<div class="requirement">
							<span class="check_ins">
							<%= cnt + 1 %>  Member(s)</span>
						</div>
					</div>
				
				</div>
          <% end  %>
			</div>
          <% end  %>
                         <% if !@user.present? && !@groups.present? && !@fitspot.present? %>
	<h2 class="text-center"> No records found </h2>	
        <% end %>
	</div>
 <script>
 function hide_chatbox() {
		$('.search_results_section').slideUp('slow');
  }
 
 </script>
