<div id="settings">
	<div id="settings_nav">
		<%= @page == 'settings_basic' ? link_to('<p><span class="selected_nub"></span>Basic</p>'.html_safe, 'settings') : link_to('<p>Basic</p>'.html_safe, 'settings') %>
		<%= @page == 'settings_about' ? link_to('<p><span class="selected_nub"></span>About</p>'.html_safe, 'about') : link_to('<p>About</p>'.html_safe, 'about') %>
		<%= @page == 'settings_activities' ? link_to('<p><span class="selected_nub"></span>Activities</p>'.html_safe, 'activities') : link_to('<p>Activities</p>'.html_safe, 'activities') %>
		<%= @page == 'settings_privacy' ? link_to('<p><span class="selected_nub"></span>Privacy</p>'.html_safe, 'privacy') : link_to('<p>Privacy</p>'.html_safe, 'privacy') %>
		<%= @page == 'settings_social_settings' ? link_to('<p><span class="selected_nub"></span>Social Settings</p>'.html_safe, 'social_settings') : link_to('<p>Social Settings</p>'.html_safe, 'social_settings') %>
		<%= @page == 'settings_fitbit' ? link_to('<p><span class="selected_nub"></span>Fitbit</p>'.html_safe, 'fitbit') : link_to('<p>Fitbit</p>'.html_safe, 'fitbit') %>
		<%= @page == 'settings_support' ? link_to('<p><span class="selected_nub"></span>Support</p>'.html_safe, 'support') : link_to('<p>Support</p>'.html_safe, 'support') %>
	</div>
	<div style="height:60px;"></div>
	<div class="settings_view">
		<%= render(:partial => @page) %>
		
	</div>
</div>

<script type="text/javascript">
	
</script>
