<%#= $message ? '<div id="message_view">' . $message . '<span id="close_message"></span></div>' : nil %>
<div id="nav_container">
	<nav>
		<%= link_to(image_tag('global/nav_logo_2.png'), '/feed' ,html_options={'class'=>'logo'}); %>
		
		<%= link_to(image_tag('icons/mobile_nav_icon.png'), '/feed', html_options={'class'=>'mobile_icon left_nav_icon'}); %>
		<div class="search">
			<div class="search-inner">
			<input type="text" placeholder="I'm lookin for...">
			<span class="search_icon"><%= image_tag('icons/search.png') %></span>
			</div>
		</div>
		<%= link_to(image_tag('icons/tile_icon.png'), '/', html_options={'class'=>'mobile_icon right_nav_icon'}); %>
		<div class="nav">
			<%= 1==1 ? '<span class="new">7</span>'.html_safe : nil %><a class="nav_options" title="notifications"><%= image_tag('icons/notification.png'); %></a>
			<%= 1==0 ? '<span class="new">17</span>'.html_safe : nil %><a class="nav_options" title="challenges"><%= image_tag('icons/trophy.png'); %></a>
			<%= 1==0 ? '<span class="new">99+</span>'.html_safe : nil %><a class="nav_options" title="messages"><%= image_tag('icons/mail.png'); %></a>
			<div class="previews">
				<div class="notifications_preview">
					<!-- Loop -->
					<div class="preview commented">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span> commented on your post.</p>
					</div>
					<div class="preview kudos">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span> gave you kudos!</p>
					</div>
					<div class="preview friend_request">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span> added you as a friend.</p>
						<button>ACCEPT</button>
						<button>DECLINE</button>
					</div>
					<div class="preview posted">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span> posted on your feed.</p>
					</div>
					<!-- End loop -->
					<div class="see_all">
						<%= link_to('<h3>SEE ALL NOTIFICATIONS</h3>'.html_safe, 'notifications'); %>
					</div>
				</div>
				<div class="challenges_preview">
					<!-- Loop -->
					<div class="preview">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span></p>
					</div>
					<!-- End loop -->
					<div class="see_all">
						<%= link_to('<h3>SEE ALL CHALLENGES</h3>'.html_safe, 'challenges'); %>
					</div>
				</div>
				<div class="messages_preview">
					<!-- Loop -->
					<div class="preview">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span></p>
					</div>
					<!-- End loop -->
					<div class="see_all">
						<%= link_to('<h3>SEE ALL MESSAGES</h3>'.html_safe, 'mail'); %>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
<div class="nav_white_space"></div>
<div class="black_screen"></div>
<div class="search_results_section">
	<div class="search_results">
		<div class="top_results column">
			<h2>TOP RESULTS</h2>
			<div class="activities">
				<div class="column_header">
					<h3>ACTIVITIES</h3>
				</div>
				<div class="list">
					<div class="activity">
						<div class="logo">
							<%= image_tag('activities/lacrosse.png'); %>
						</div>
						<div class="name">
							<h4>LACROSSE</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="fitspots">
				<div class="column_header">
					<h3>FITSPOTS</h3>
				</div>
				<div class="list">
					<div class="place">
						<div class="avatar">
							<%= image_tag('fitspot/fitspot.png'); %>
						</div>
						<div class="name">
							<h4>WARD PARK</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Lacrosse Check Ins</span>
						</div>
					</div>
				</div>
			</div>
			<div class="gyms">
				<div class="column_header">
					<h3>GYMS</h3>
				</div>
				<div class="list">
					<div class="place">
						<div class="avatar">
							<%= image_tag('gym/24_hour_fitness.png'); %>
						</div>
						<div class="name">
							<h4>24 HOUR FITNESS</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Members</span>
						</div>
					</div>
					<div class="place">
						<div class="avatar">
							<%= image_tag('gym/gym_photo.png'); %>
						</div>
						<div class="name">
							<h4>LA FITNESS</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Members</span>
						</div>
					</div>
				</div>
			</div>
			<div class="local_groups">
				<div class="column_header">
					<h3>LOCAL GROUPS</h3>
				</div>
				<div class="list">
					<div class="place">
						<div class="logo">
							<%= image_tag('activities/lacrosse.png'); %>
						</div>
						<div class="name">
							<h4>ORLANDO, FL</h4>
							<h4>LACROSSE</h4>
						</div>
						<div class="data">
							<span class="check_ins">134 Active</span>
						</div>
					</div>
					<div class="place">
						<div class="logo">
							<%= image_tag('activities/lacrosse.png'); %>
						</div>
						<div class="name">
							<h4>WINTER PARK, FL</h4>
							<h4>LACROSSE</h4>
						</div>
						<div class="data">
							<span class="check_ins">189 Active</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="people column">
			<h2>PEOPLE</h2>
			<div class="in_common">
				<div class="column_header">
					<h3>IN COMMON</h3>
					<%= link_to('MORE', '/'); %>
				</div>
				<div class="list">
					<div class="person">
						<div class="avatar">
							<%= image_tag('profile/trainer.png'); %>
						</div>
						<div class="name">
							<h4>MIKEY POWELL</h4>
						</div>
						<div class="data">
							<span class="miles">2.1 Miles</span>
							<span class="check_ins">12 Check Ins</span>
						</div>
					</div>
					<div class="person">
						<div class="avatar">
							<%= image_tag('profile/trainer.png'); %>
						</div>
						<div class="name">
							<h4>MIKEY POWELL</h4>
						</div>
						<div class="data">
							<span class="miles">2.1 Miles</span>
							<span class="check_ins">12 Check Ins</span>
						</div>
					</div>
				</div>
			</div>
			<div class="trainers">
				<div class="column_header">
					<h3>TRAINERS</h3>
					<%= link_to('MORE', '/'); %>
				</div>
				<div class="list">
					<div class="person">
						<div class="avatar">
							<%= image_tag('profile/trainer.png'); %>
						</div>
						<div class="name">
							<h4>MIKEY POWELL</h4>
						</div>
						<div class="data">
							<span class="miles">2.1 Miles</span>
							<span class="check_ins">12 Check Ins</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fitness_pro">
				<div class="column_header">
					<h3>FITNESS PRO</h3>
					<%= link_to('MORE', '/'); %>
				</div>
				<div class="list">
					<div class="person">
						<div class="avatar">
							<%= image_tag('profile/trainer.png'); %>
						</div>
						<div class="name">
							<h4>MIKEY POWELL</h4>
						</div>
						<div class="data">
							<span class="miles">2.1 Miles</span>
							<span class="check_ins">12 Check Ins</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="places column">
			<h2>PLACES</h2>
			<div class="fitspots">
				<div class="column_header">
					<h3>FITSPOTS</h3>
					<%= link_to('MORE', '/'); %>
				</div>
				<div class="list">
					<div class="place">
						<div class="avatar">
							<%= image_tag('fitspot/fitspot.png'); %>
						</div>
						<div class="name">
							<h4>WARD PARK</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Lacrosse Check Ins</span>
						</div>
					</div>
				</div>
			</div>
			<div class="gyms">
				<div class="column_header">
					<h3>GYMS</h3>
					<%= link_to('MORE', '/'); %>
				</div>
				<div class="list">
					<div class="place">
						<div class="avatar">
							<%= image_tag('gym/24_hour_fitness.png'); %>
						</div>
						<div class="name">
							<h4>24 HOUR FITNESS</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Members</span>
						</div>
					</div>
					<div class="place">
						<div class="avatar">
							<%= image_tag('gym/gym_photo.png'); %>
						</div>
						<div class="name">
							<h4>LA FITNESS</h4>
						</div>
						<div class="data">
							<h5 class="miles">2.1 Miles</h5>
							<span class="check_ins">12 Members</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="activities column">
			<h2>ACTIVITIES</h2>
			<div class="list">
				<div class="activity">
					<div class="logo">
						<%= image_tag('activities/lacrosse.png'); %>
					</div>
					<div class="name">
						<h4>LACROSSE</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

// $(document).ready(function(){

// });

</script>
