<%#= $message ? '<div id="message_view">' . $message . '<span id="close_message"></span></div>' : nil %>
<div id="nav_container">
	<nav>
	<% @path = @account.present? ? 'feed' : 'login' %>
		<%= link_to(image_tag('global/nav_logo_2.png'), "/#{@path}" ,html_options={'class'=>'logo'}); %>
		
		<%= link_to(image_tag('icons/mobile_nav_icon.png'), '/feed', html_options={'class'=>'mobile_icon left_nav_icon'}); %>
		<% if @account.present? %>
		<div class="search">
			<div class="search-inner">
			<input type="text" placeholder="I'm lookin for...">
			<span class="search_icon"><%= image_tag('icons/search.png') %></span>
			</div>
		</div>
	<% end %>	
		<%= link_to(image_tag('icons/tile_icon.png'), '/', html_options={'class'=>'mobile_icon right_nav_icon'}); %>
		<div class="nav">
			<% @ahref = "" %>
			<% if @account.present? && @account.user_name.present? %>
				<% @ahref = "#{@account.user_name}/notifications" %>
			
			<% end %>
			
			<% if @account.present? %>
		<% @countreq = @account.requested_friendships_seen.present? ? @account.requested_friendships_seen.count : '' %> 
		<% @countreqchallenge = @account.requested_challenges_seen.present? ? @account.requested_challenges_seen.count : '' %> 
		<% @cnt = @countreq.to_i + @cnt.to_i + + @fitspot_cont.to_i %>
		
				<span class="new"> <%= @cnt == 0 ? '' : @cnt %> </span> <a class="nav_option" href="/<%=  @ahref %>" title="Friend Notifications"> <%= image_tag('icons/notification.png'); %></a>
				<span class="new"><%= @countreqchallenge %></span><a class="nav_option" href="/challenges" title="Challenges"><%= image_tag('icons/trophy.png'); %></a>
			   <span class="new" id="newmsg"><%= messagecount() %></span><a class="nav_option" title="Messages" href="/conversations" ><%= image_tag('icons/mail.png'); %></a>
			<% end %>
			<div class="previews">
				<div class="notifications_preview">
					<!-- Loop -->
					<div class="preview commented">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span> commented on your post.</p>
					</div>
					<div class="preview kudos">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span> gave you kudos!</p>
					</div>
					<div class="preview friend_request">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span> added you as a friend.</p>
						<button>ACCEPT</button>
						<button>DECLINE</button>
					</div>
					<div class="preview posted">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span> posted on your feed.</p>
					</div>
					<!-- End loop -->
					<div class="see_all">
						<%= link_to('<h3>SEE ALL NOTIFICATIONS</h3>'.html_safe, 'notifications'); %>
					</div>
				</div>
				<div class="challenges_preview">
					<!-- Loop -->
					<div class="preview">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span></p>
					</div>
					<!-- End loop -->
					<div class="see_all">
						<%= link_to('<h3>SEE ALL CHALLENGES</h3>'.html_safe, 'challenges'); %>
					</div>
				</div>
				<div class="messages_preview">
					<!-- Loop -->
					<div class="preview">
						<div class="avatar">
							<%= image_tag('profile/nicole.png'); %>
						</div>
						<p><span>Nicole Aniston</span></p>
					</div>
					<!-- End loop -->
					<div class="see_all">
						<%= link_to('<h3>SEE ALL MESSAGES</h3>'.html_safe, 'mail'); %>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
<div class="nav_white_space"></div>
<div class="black_screen"></div>
<div class="search_results_section" style="height: 452px; display:none;">

</div>

<script type="text/javascript">

// $(document).ready(function(){

// });

</script>
