    <header>
            <div class="container">
              <div id="logo">
                   <% @path = @account.present? ? 'feed' : 'login' %>
		           <%= link_to(image_tag('global/white_logo_text.png'), "/#{@path}" ,html_options={'class'=>'logo'}); %>
                </div>
                <% if @account.present? %>
                <div id="search" class="nav_search">
                    <input type="text" placeholder="I'm looking for...">
                </div>
               <% @countreq = @account.requested_friendships_seen.present? ? @account.requested_friendships_seen.count : '' %> 
		       <% @countreqchallenge = @account.requested_challenges_seen.present? ? @account.requested_challenges_seen.count : '' %> 
		       <% @cnt = @countreq.to_i + @cnt.to_i + + @fitspot_cont.to_i %>
		
                <nav id="top_nav">
                   <span class="new"> <%= @cnt == 0 ? '' : @cnt %> </span> <a href="/<%= @account.user_name %>/notifications" title="Friend Notifications"><div class="notifications_icon"></div></a>
                   <span class="new" id="newmsg"> <%= messagecount() %> </span> <a href="/conversations" title="Messages"><div class="messages_icon"></div></a>
                
                    <div class="profile_icon" title="Profile">
                        <div class="profile_list">
                            <div class="list">
                                <a  href="/<%= @account.user_name %>">My Profile</a>
                                <% if @account.user_type == 3 %>
                                <%= link_to('Gym Dashboard',dashboard_path()) %>
                                <% end %>
                            </div>
                        </div>
                        <div id="dark_cover"></div>
                    </div>
                  
                </nav>
                <% end %>
            </div>
            <% if params[:controller] == 'settings' %>
              <div class="settings_nav">
                <nav>
					<%= @page == 'settings_basic' ? link_to('Basic'.html_safe, 'settings', class: "selected") : link_to('<p>Basic</p>'.html_safe, 'settings') %>
					<%= @page == 'settings_about' ? link_to('About'.html_safe, 'about',  class: "selected") : link_to('<p>About</p>'.html_safe, 'about') %>
					<%= @page == 'settings_activities' ? link_to('Activities'.html_safe, 'activities',  class: "selected") : link_to('<p>Activities</p>'.html_safe, 'activities') %>
					<%= @page == 'settings_privacy' ? link_to('Privacy'.html_safe, 'privacy',  class: "selected") : link_to('<p>Privacy</p>'.html_safe, 'privacy') %>
					<%= @page == 'settings_social_settings' ? link_to('Social Settings'.html_safe, 'social_settings', class: "selected") : link_to('<p>Social Settings</p>'.html_safe, 'social_settings') %>
					<%= @page == 'settings_fitbit' ? link_to('Fitbit'.html_safe, 'fitbit', class: "selected") : link_to('<p>Fitbit</p>'.html_safe, 'fitbit') %>
					<%= @page == 'settings_email' ? link_to('Email'.html_safe, 'email_notification_settings', class: "selected") : link_to('<p>Email</p>'.html_safe, 'email_notification_settings') %>
					<%= link_to 'Feedback', 'javascript:void(0)', { :class => 'rps', 'data-toggle' => 'modal',  :title => 'Report a Problem', 'data-target' => '#reportForm' } %>
				</nav>
            </div>
            <% end %>
             <% if (params[:action] == "dashboard" ) || (params[:action] == "classes") || (params[:action] == "gym_admin_appointments") || (params[:action] == "gym_trainors") || (params[:action] == "gym_members")   %>
          
   
            <div class="gym_nav">
                <nav>
			
                    <%= link_to('Dashboard', dashboard_path(), class: params[:action] == "dashboard" ? "selected" : '' ) %>
                    <%= link_to('Profile', "/#{@account.user_name}" ) %>
                    <%= link_to('Classes', classes_path(), class: params[:action] == "classes" ? "selected" : '' ) %>
                     <%= link_to('Appointments', appointments_path() , class: params[:action] == "gym_admin_appointments" ? "selected" : '' ) %>
                     <%= link_to('Trainers', "/#{@account.user_name}/trainers" ) %>
                    <%= link_to('Members', "/#{@account.user_name}/members" ) %>
                </nav>
            </div>
             <% end %>
			<div class="black_screen"></div>
			<div class="search_results_section" style="height: 452px; display:none;"></div>

        </header>
        
