	<div class="notification_list">
							<div class="list">
								<!-- Start: Notification -->
							<!--	<div class="notification">
									<div><div class="avatar"><img src="../../public/img/profile/venuswilliams_avatar.png" title="Venus Williams" alt="VW"></div></div
									><div>
										<h5>Venus Williams</h5>
										<h6>Commented</h6>
										<p>"I was too busy taking selfies to work out"</p>
										<div class="actions">
											<a href="">Reply</a>
										</div>
									</div><div>
										<a href="../notifications"></a>
									</div>
								</div>-->
								
								<!-- End: Notification -->
								 
							<%  if @fit_spot.present? %>  
						   	<% @fit_spot.each do |ft| %>
						   	<% if ft.fitspot.account.present? %>
						   	
								<div class="notification">
									<div>
									<div class="avatar">
									<% img = useravatar(ft.fitspot.account) %>
									<%= link_to(image_tag(img), "/fitspots/#{Base64.encode64(ft.fitspot_id.to_s)}") %>
									</div></div><div>
										<h5> <%= ft.fitspot.account.first_name.capitalize %> <%= ft.fitspot.account.last_name.present? ? ft.fitspot.account.last_name : '' %> </h5>
										<h6>Invited you to</h6>
										<p><%= link_to(ft.fitspot.title, "/fitspots/#{Base64.encode64(ft.fitspot_id.to_s)}") %> on , 
										<%= ft.fitspot.fitspot_date.strftime('%B %d') %>
										<%= ft.fitspot.fitspot_time %> at 
										 <%= ft.fitspot.location %></p>
										
								<div class="actions">
											 <a href="javascript:void(0)" data-id="<%= Base64.encode64(ft.id.to_s)%>" class="frequest" type="reject">Decline</a>|
             <a href="javascript:void(0)" data-id="<%= Base64.encode64(ft.id.to_s)%>" class="frequest" type="accept">Accept</a>
										</div> 
									</div><div>
										<a href="/<%= @account.user_name %>/notifications""></a>
									</div>
								</div>
								  
							  <% end  %>  
							  <% end %>
							  <% end %>
							  
							  <%  if @joining_request.present? %>  
						   	<%	@joining_request.each do |member| %>
						   	<% if member.inviter.present? %>	
								<div class="notification">
									<div>
									<div class="avatar">
									
										<% img = useravatar(member.inviter) %>
										<%= link_to(image_tag(img), "/#{member.inviter['user_name']}") %>
								
									</div></div><div>
									
										<h5> <%= member.inviter.first_name.capitalize %> <%= member.inviter.last_name.present? ? member.inviter.last_name : '' %> </h5>
										<h6>invited you to join a group</h6>
									
										<p><%= link_to(member.group.title, "/groups/#{Base64.encode64(member.group_id.to_s)}") %> 
										<div class="actions">
											 <button data-id="<%= Base64.encode64(member.id.to_s)%>" class="grouprequest" type="reject">Decline</button>
             <button data-id="<%= Base64.encode64(member.id.to_s)%>" class="grouprequest" type="accept">Accept</button>
										</div> 
									</div><div>
										<a href="/<%= @account.user_name %>/notifications"></a>
									</div>
								</div>
									<% end %>  
							  <% end  %>  
							  <% end %>
								
								<!--<div class="notification">
									<div><div class="avatar"><img src="../../public/img/profile/venuswilliams_avatar.png" title="Venus Williams" alt="VW"></div></div
									><div>
										<h5>Venus Williams</h5>
										<h6>Posted on your timeline</h6>
										<p>"you're too slow on the treadmill girl"</p>
										<div class="actions">
											<a href="">Reply</a>
										</div>
									</div><div>
										<a href="../notifications"></a>
									</div>
								</div>-->
								<% if @account.requested_friendships.present? %>
									<% @account.requested_friendships.each do |member| %>
									<% img = useravatar(member) %>
									<div class="notification">
										<div>
										<div class="avatar">
										  <%= link_to(image_tag(img), "/#{member.user_name}") %>
										</div></div><div>
											<h5><%= link_to(member.first_name, "/#{member['user_name']}") %></h5>
											<h6>Added you as a friend</h6>
											<div class="actions">
											 <a href="javascript:void(0)" data-id="<%= Base64.encode64(member.id.to_s)%>" id="rejectfriend">Decline</a>
             <a href="javascript:void(0)" data-id="<%= Base64.encode64(member.id.to_s)%>" id="acceptfriend">Accept</a>
											</div>
										</div><div>
											<a href="/<%= @account.user_name %>/notifications"></a>
										</div>
									</div>
							 <% end %>		
							 <% end %>		
							</div>
							<div class="show_all">
								<a href="/<%= @account.user_name %>/notifications">Show All Notifications</a>
							</div>
						</div>
						<div id="dark_cover"></div>
<script type="text/javascript">
$(document).ready(function(){

$(document).on('click', '#rejectfriend', function() {

var toid = $(this).attr('data-id');
var that = this;
	$.ajax({
				type: "DELETE",
				url: '/rejectrequest/', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {id:toid},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
					$(that).parent('.notification').fadeOut();
									
					$('.flash-message').html('<div class="alert alert-success"> Request was successfully removed.</div>').show();
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
	    
	    });
	    
$(document).on('click','#acceptfriend', function() {
var toid = $(this).attr('data-id');
var that = this;
	$.ajax({
				type: "PUT",
				url: '/acceptrequest/', //sumbits it to the given url of the form
				dataType: "HTML",
				data: {id:toid},
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
					$(that).parent().parent().parent('div .notification').fadeOut();
									
					$('.flash-message').html('<div class="alert alert-success"> Request was successfully approved.</div>').show();
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
	    
	    });
            
$('.grequest').on('click', function() {
var toid = $(this).attr('data-id');
var type = $(this).attr('type');
if (type == 'reject') {  

  if (!confirm('Are you sure you want to reject request?')) {
    return false;
  }
  
}
var mydata = {'id': toid, 'type' : type};
var that = this;
	$.ajax({
				type: "DELETE",
				url: '<%= group_request_path()  %>', //sumbits it to the given url of the form
				dataType: "HTML",
				data: mydata,
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
						$(that).parent().parent().parent('div .notification').fadeOut();
                                        var text = type == 'reject' ? 'Request was successfully removed.' :'Request was successfully approved.'
					$('.flash-message').html('<div class="alert alert-success"> '+ text +'</div>').show();
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
	    
	    });
	    
	    
	    /// friend request
$('.frequest').on('click', function() {
var toid = $(this).attr('data-id');
var type = $(this).attr('type');
if (type == 'reject') {  
  if (!confirm('Are you sure you want to reject request?')) {
    return false;
  }  
}
var mydata = {'id': toid, 'type' : type};
var that = this;
	$.ajax({
				type: "DELETE",
				url: '<%= fitspot_request_path()  %>', //sumbits it to the given url of the form
				dataType: "HTML",
				data: mydata,
				beforeSend: function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
						},
				success: function(data){				
						$(that).parent().parent().parent('div .notification').fadeOut();
                                        var text = type == 'reject' ? 'Request was successfully removed.' :'Request was successfully approved.'
					$('.flash-message').html('<div class="alert alert-success"> '+ text +'</div>').show();
					},
				error:	function (xhr, ajaxOptions, thrownError) {
				$('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
					console.log(thrownError)
					
				}	
			
			});
	    
	    });
          
	    
	    }); // end of document ready
</script>	 
