<%= render(:partial=>'/nav/classvar') %>
<div id="feed_side_nav">
	<ul>
        
		<li class="<% if request.original_url.include? 'feed' %>
                          selected
                          <% else %>
                            mp
                             <% end %> ">
                           
                  
                  
                  <%= link_to 'ALL POSTS', feed_path %>
		<li> <%= link_to 'CHALLENGES', challenge_path %></li>
		<li> <%= link_to 'GOAL', account_goals_path %></li>
                    <% if !@profileuser.present? %>
		<li class="<% if request.original_url.include? 'api' %>
                          selected
                          <% else %>
                            mp
                             <% end %> ">           
               
		<% if @account.linked? or session[:oauth_secret].present? %>
                <% session.delete(:oauth_secret) %>
			<a href="<%= api_activity_path %> ">FITBIT</a>
			<a class="sync-info" style="display:inline-block;" href="<%= un_sync_path %>" ><%= image_tag('global/unsynchs_with_fitbit.png'); %></a>
		<% else %>
		FITBIT
	         
		 <a style="display:inline-block;" href="#login-popup" target="_blank" title="fitibit" contype="fitbit" class='login-popup fitbit sync-info' ><%= image_tag('global/synchs_with_fitbit.png'); %></a>
		<% end  %>
		<% end  %>
	
                </li>
               
		<li><a  href="javascript:void(0)" data-toggle="modal" class="goal-btn" data-target="#groupForm"> CREATE GROUP</a></li>
		<li><%= link_to 'FITSPOTS', fitspots_index_path %></li>
		<li><a  href="javascript:void(0)" data-toggle="modal" class="goal-btn" data-target="#reportForm"> REPORT A PROBLEM</a></li>
		
                <li><%= link_to 'INVITE', '/invites/index' %></li>
           
                <% if @profileuser.present? && @profileuser.user_type == 3 && @profileuser.id != @account.id%>
		<li><a  href="javascript:void(0)" data-toggle="modal" class="goal-btn" data-target="#reviewForm"> REVIEW</a></li>
                <% end %>
               
               
	</ul>
</div>
<div class="advertisement_switch">
	<h3>ADVERTISEMENTS</h3>
	<div class="switch">
		<h3 class="on">ON</h3>
		<h3 class="off">OFF</h3>
		<div class="knob"></div>
	</div>
</div>
<div class="settings">
	<div class="url_settings">
<span>	<%= link_to image_tag("icons/settings.png"), settings_path %></span>
		
		<h3>SETTINGS</h3>
	</div>
	<div class="logout">
	<span>	<%= link_to image_tag("icons/settings.png"), logout_path %></span>
		<h3>LOGOUT</h3>
	</div>
</div>

<!--- Group -->
<div class="modal fade" id="groupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Group</h4>
      </div>
      <div class="modal-body">
       
        
 <%= render(:partial => 'groups/newgroup') %>
    
    </div>
  </div>
</div>
</div>

<!---Feedback -->
<div class="modal fade" id="reportForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Feedback Form</h4>
      </div>
      <div class="modal-body">
       
        
		<%= render(:partial => 'admin/feedbacks/form') %>
    
    </div>
  </div>
</div>
</div>

<!--- -->
  <% if @profileuser.present? && @profileuser.user_type == 3 %>
<div class="modal fade" id="reviewForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="z-index: 5456666666000;">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Review</h4>
      </div>
      <div class="modal-body">
       
        
 <%= render(:partial => 'reviews/newreview') %>
    
    </div>
  </div>
</div>
</div>
<% end  %>
<script type="text/javascript">

  // login with facebook
  $('.login-popup').click(function(e) {
    var connectionType = $(this).attr('contype');
    e.preventDefault();
    auth0.login({
      connection: connectionType,
      popup: false,
      popupOptions: {
        width: 450,
        height: 600
      }
    });
  });
  
 
  </script>
 
